<md-dialog id="tbis-details-update-modal" aria-label="Cập nhật thiết bị" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{tbisDetailsViewReportViewOpenTabModal.thietbiId}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="tbisDetailsViewReportViewOpenTabModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <tbis-details-view-report-view-open-tab-details mixed-comments-and-actions="tbisDetailsViewReportViewOpenTabModal.mixedCommentsAndActions" new-comment="tbisDetailsViewReportViewOpenTabModal.newComment" is-active-editor="tbisDetailsViewReportViewOpenTabModal.isModalOpen"></tbis-details-view-report-view-open-tab-details>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="tbisDetailsViewReportViewOpenTabModal.resetNewComment()" aria-label="Reset">Reset</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="tbisDetailsViewReportViewOpenTabModal.closeSelectedTbisReport()" aria-label="Đóng thông báo">Đóng thông báo</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="tbisDetailsViewReportViewOpenTabModal.addNewComment()" aria-label="Gửi ý kiến">Gửi</md-button>
    </md-dialog-actions>
</md-dialog>