#tbis-details-image-modal {
  md-grid-list {
    margin: 20px 8px 0;
  }
  md-grid-tile {
    transition: all 400ms ease-out 50ms;
    overflow: hidden;
  }
}

@import "../tbisDetailsImageQuanLyTab/tbisDetailsImageQuanLyTab.less";