<md-list style="padding-bottom: 0">
    <md-list-item class="md-3-line" style="margin:0;padding: 16px;background-color: rgb(250, 250, 250);" layout="row">
        <div class="sky-user-status-container">
            <span class="sky-user-status" user-status user-id="{{userDetailsViewQuanLyTabUserLabel.selectedUser._id}}"></span>
            <img user-avatar user-id="{{userDetailsViewQuanLyTabUserLabel.selectedUser._id}}" class="md-avatar"/>
        </div>
        <div class="md-list-item-text" layout="column">
            <h3>{{userDetailsViewQuanLyTabUserLabel.selectedUser.profile.ho_so.ho_ten_dem}} {{userDetailsViewQuanLyTabUserLabel.selectedUser.profile.ho_so.ten}} · {{userDetailsViewQuanLyTabUserLabel.selectedUser.profile.tham_chieu.don_vi.ma}}</h3>
            <h4>{{userDetailsViewQuanLyTabUserLabel.selectedUser.emails[0].address}}</h4>
            <p>{{userDetailsViewQuanLyTabUserLabel.selectedUser._id}}</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
</md-list>
