<md-content layout="row" layout-align="center start" layout-fill layout-margin>
    <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
        <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
            <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
                <h3 class="md-display-1" flex>
                    Reset mật khẩu</h3>
                <img src="img/icons/common/password.svg" class="sky-img"/>
            </div>
        </md-toolbar>
        <div layout="column" layout-fill layout-padding>
            <form name="password.resetForm" layout="column" >
                <div layout="row" layout-fill>
                    <p class="md-body-2">
                        Vui lòng nhập email đăng ký để chúng tôi có thể cho bạn reset token.
                    </p>
                </div>
                <md-input-container>
                    <label>Email đăng nhập của tôi</label>
                    <input type="text" name="creadentials_email" ng-model="password.credentials.email" aria-label="email" required ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="password.resetForm.creadentials_email.$error">
                        <div ng-message="required">Bạn chưa nhập email đăng ký.</div>
                        <div ng-message="pattern">Địa chỉ email không hợp lệ.</div>
                    </div>
                </md-input-container>
                <div ng-if="password.isResetting" layout="row" layout-align="center">
                    <md-progress-circular class="md-accent" md-diameter="40"></md-progress-circular>
                </div>
                <div ng-hide="password.isResetting" layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="password.reset()" aria-label="login" ng-disabled="password.resetForm.$invalid">Gửi token</md-button>
                </div>
            </form>

            <md-divider></md-divider>
            <div layout="row" layout-align="center">
                <a class="md-button" ui-sref="login">Đăng nhập</a>
            </div>
        </div>
    </md-whiteframe>
</md-content>