<md-fab-toolbar md-open="tbisDetailsViewFabMenu.isOpen" count="tbisDetailsViewFabMenu.count"
                md-direction="left">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-warn"">
            <md-icon md-svg-src="img/icons/common/menu.svg"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button ui-sref="thietbis" aria-label="Trở về" class="md-icon-button">
                <md-icon md-svg-src="img/icons/common/view_list.svg"></md-icon>
            </md-button>
            <md-button aria-label="Hình ảnh" class="md-icon-button">
                <md-icon md-svg-src="img/icons/common/image.svg"></md-icon>
            </md-button>
            <md-button aria-label="Cập nhật" class="md-icon-button" ui-sref="tbisDetailsUpdate({thietbiId: tbisDetailsViewFabMenu.thietbiId})">
                <md-icon md-svg-src="img/icons/common/edit.svg"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>