<md-list-item class="md-3-line" layout="row" ng-click="null">
    <div style="margin: 0 15px 0 0;">
        <md-icon ng-if="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.nhom==='Sửa chữa nhỏ'
                        && tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.loai==='Đột xuất'"
                 md-svg-src="/img/icons/common/error_outline.svg" class="no-margin" aria-label="Đột xuất">
        </md-icon>
        <md-icon ng-if="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.nhom==='Sửa chữa nhỏ'
                        && tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.loai==='Kế hoạch'"
                 md-svg-src="/img/icons/common/playlist_add_check.svg" class="no-margin" aria-label="Kế hoạch">
        </md-icon>
        <md-icon ng-if="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.nhom==='Sửa chữa lớn'"
                 md-svg-src="/img/icons/common/not_interested.svg" class="no-margin" aria-label="Sửa chữa lớn">
        </md-icon>
        <md-icon ng-if="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.nhom==='Sửa chữa cụm'"
                 md-svg-src="/img/icons/common/widgets.svg" class="no-margin" aria-label="Sửa chữa cụm">
        </md-icon>
        <md-icon ng-if="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.nhom==='Bảo dưỡng'"
                 md-svg-src="/img/icons/common/event.svg" class="no-margin" aria-label="Bảo dưỡng">
        </md-icon>
        <md-icon ng-if="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.phan_loai.nhom==='Đại tu'"
                 md-svg-src="/img/icons/common/exit_to_app.svg" class="no-margin" aria-label="Đại tu">
        </md-icon>
    </div>
    <div class="md-list-item-text" layout="column">
        <h3>{{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.noi_dung}}
            <span ng-show="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.isDone">
                · <span ng-show="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thong_ke.duration.days">{{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thong_ke.duration.days}} ngày</span>
                <span ng-show="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thong_ke.duration.hours">{{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thong_ke.duration.hours}} giờ</span>
                {{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thong_ke.duration.minutes}} phút
            </span>
            <span ng-hide="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.isDone">
                · ({{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thoi_gian.bat_dau.refDate | displayRelativeTimeFilter}})
            </span>
            <span ng-show="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.tham_chieu.refMaximo">
            · {{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.tham_chieu.refMaximo}}
            </span>
        </h3>
        <p>
            từ {{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thoi_gian.bat_dau.refDate | displayCustomDateTimeFilter:'HH:mm, dddd, DD-MM-YYYY'}}
        </p>
        <p ng-show="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.isDone">
            đến {{tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.thoi_gian.ket_thuc.refDate | displayCustomDateTimeFilter:'HH:mm, dddd, DD-MM-YYYY'}}
        </p>
        <p ng-hide="tbisDetailsViewHistoryViewTbisHistoryItem.viewModel.isDone">
            chưa kết thúc
        </p>
    </div>
</md-list-item>