<md-dialog aria-label="Tạo mới" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Tạo mới DataHelper</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dhelpsListAddNewModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <p class="md-body-1" style="padding: 16px 16px 0px 16px;">Để tạo mới DataHelper, xin vui lòng điền các thông tin yêu cầu vào mẫu phiếu dưới đây:</p>
        <dhelps-list-input-form view-model="dhelpsListAddNewModal.newDataHelper"
                                is-preserve-select="dhelpsListAddNewModal.liveOptions.isPreserveSelect"
                                is-form-invalid="dhelpsListAddNewModal.liveOptions.isFormInvalid" >
        </dhelps-list-input-form>
        <div style="color: transparent;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="dhelpsListAddNewModal.reset()" aria-label="Reset">Reset</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="dhelpsListAddNewModal.addNew()" ng-disabled="dhelpsListAddNewModal.liveOptions.isFormInvalid" aria-label="Tạo mới">Tạo mới</md-button>
    </md-dialog-actions>
</md-dialog>
