<div layout-padding>
    <div layout="row" >
        <div flex>
            <input class="k-textbox" style="width:100%" type="text"/>
        </div>
        <div style="min-width: 7rem;">
            <select kendo-drop-down-list style="width:100%">
                <option>Tất cả</option>
                <option>Chủng loại</option>
                <option>Khu vực</option>
                <option>Hãng SX</option>
                <option>ĐVQL</option>
                <option>ĐVSH</option>
                <option>Năm SD</option>
                <option>Năm SX</option>
            </select>
        </div>
        <div flex="none">
            <md-button class="md-icon-button" aria-label="Lọc thông tin" ng-click="tbisFilterForm.submit()">
                <md-icon md-svg-icon="img/icons/common/filter_list.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>

