<md-list>
    <md-list-item class="md-2-line">
        <img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />
        <div class="md-list-item-text">
            <h3>Hữu Toàn</h3>
            <p>Xí Nghiệp Cơ Giới</p>
        </div>
    </md-list-item>
    <md-list-item>
        <p> Đã sửa chữa xong </p>
        <md-checkbox class="md-secondary" ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.isDone"></md-checkbox>
    </md-list-item>
    <md-list-item>
        <md-input-container flex="50">
            <label>Nhóm sửa chữa</label>
            <md-select ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.phan_loai.nhom">
                <md-option>Sửa chữa nhỏ</md-option>
                <md-option>Sửa chữa lớn</md-option>
                <md-option>Sửa chữa cụm</md-option>
                <md-option>Bảo dưỡng</md-option>
                <md-option>Đại tu</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="50" ng-show="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.phan_loai.nhom==='Sửa chữa nhỏ'">
            <label>Loại sửa chữa</label>
            <md-select ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.phan_loai.loai">
                <md-option>Đột xuất</md-option>
                <md-option>Kế hoạch</md-option>
            </md-select>
        </md-input-container>
    </md-list-item>
    <md-list-item>
        <md-input-container class="md-block" flex="100">
            <label>Nội dung</label>
            <input ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.noi_dung">
        </md-input-container>
    </md-list-item>
    <md-list-item layout="column" layout-gt-sm="row">
        <md-input-container class="md-input-has-placeholder md-input-for-kendo" flex="100" flex-gt-sm="50" style="width: 100%;margin-bottom: 40px;">
            <label>Bắt đầu</label>
            <input kendo-date-time-picker k-interval="15" k-format="'yyyy-MM-dd, HH:mm'" k-time-format="'HH:mm'" k-max="tbisDetailsViewHistoryViewTbisHistoryInputForm.now"
                   ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.thoi_gian.bat_dau.refString"
                   k-ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.thoi_gian.bat_dau.refDate"
                   style="width: 100%;"/>
        </md-input-container>
        <div ng-hide="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.isDone" flex="100" flex-gt-sm="50"></div>
        <md-input-container ng-show="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.isDone" class="md-input-has-placeholder md-input-for-kendo" flex="100" flex-gt-sm="50" style="width: 100%;margin-bottom: 40px;">
            <label>Kết thúc</label>
            <input kendo-date-time-picker="tbisDetailsViewHistoryViewTbisHistoryInputForm.kDateTimePickerEndDate" k-interval="15" k-format="'yyyy-MM-dd, HH:mm'" k-time-format="'HH:mm'"
                   ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.thoi_gian.ket_thuc.refString"
                   k-ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.thoi_gian.ket_thuc.refDate"
                   style="width: 100%;"/>
        </md-input-container>
    </md-list-item>
    <md-list-item flex="">
        <md-input-container class="md-block" flex="50">
            <label>Tham chiếu Maximo</label>
            <input ng-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.tham_chieu.refMaximo">
        </md-input-container>
    </md-list-item>
    <md-list-item>
        <md-input-container class="md-block md-input-has-placeholder" flex="100">
            <label>Ghi chú</label>
            <tbis-details-view-kendo-editor ng-if="tbisDetailsViewHistoryViewTbisHistoryInputForm.isEditorActive" view-model="tbisDetailsViewHistoryViewTbisHistoryInputForm.viewModel.ghi_chu.html"></tbis-details-view-kendo-editor>
        </md-input-container>
    </md-list-item>
</md-list>