<md-dialog id="tbis-details-add-new-history-modal" aria-label="Cập nhật phân quyền người dùng">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cập nhật phân quyền người dùng</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="userDetailsViewQuanLyTabUpdatePhanQuyenModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <user-details-view-quan-ly-tab-user-label></user-details-view-quan-ly-tab-user-label>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Thiết lập" md-on-select="userDetailsViewQuanLyTabUpdatePhanQuyenModal.tabSelected='thiet_lap'">
                <md-content>
                    <user-details-view-quan-ly-tab-update-phan-quyen-modal-thiet-lap-tab selected-user-roles="userDetailsViewQuanLyTabUpdatePhanQuyenModal.selectedUserRoles"></user-details-view-quan-ly-tab-update-phan-quyen-modal-thiet-lap-tab>
                </md-content>
            </md-tab>
            <md-tab label="Mô tả" md-on-select="userDetailsViewQuanLyTabUpdatePhanQuyenModal.tabSelected='mo_ta'">
                <md-content>
                    <user-details-view-quan-ly-tab-update-phan-quyen-modal-mo-ta-tab selected-user-phan-quyen-desc="userDetailsViewQuanLyTabUpdatePhanQuyenModal.selectedUserPhanQuyenDesc"></user-details-view-quan-ly-tab-update-phan-quyen-modal-mo-ta-tab>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="userDetailsViewQuanLyTabUpdatePhanQuyenModal.close()" aria-label="Cancel">Hủy bỏ</md-button>
        <span flex></span>
        <md-button  style="margin-right:20px;" class="no-animate"
                    ng-show="userDetailsViewQuanLyTabUpdatePhanQuyenModal.tabSelected==='thiet_lap'"
                    ng-click="userDetailsViewQuanLyTabUpdatePhanQuyenModal.updateSelectedUserRoles()"
                    aria-label="Cập nhật"> Cập nhật
        </md-button>
        <md-button  style="margin-right:20px;" class="no-animate"
                    ng-show="userDetailsViewQuanLyTabUpdatePhanQuyenModal.tabSelected==='mo_ta'"
                    ng-click="userDetailsViewQuanLyTabUpdatePhanQuyenModal.updateSelectedUserPhanQuyenDesc()"
                    aria-label="Cập nhật"> Cập nhật
        </md-button>
    </md-dialog-actions>
</md-dialog>