<h3 class="md-body-1"></h3>
<md-list flex>
    <md-subheader class="md-no-sticky">Cơ chế phân quyền người dùng quy định rõ các quyền hạn được cấp cho tài khoản của
        bạn trong Skynet.
    </md-subheader>
    <div ng-repeat="key in userDetailsViewQuyenHanTab.resolvedKeysUserPhanQuyenDesc">
        <md-subheader class="md-no-sticky" layout-fill style="background-color: #ebebeb;">
            <div layout="row" layout-align="start center">
                <img ng-src="{{userDetailsViewQuyenHanTab.iconRef[key]}}" style="width: 34px; height: 34px;"
                     class="md-avatar sky-reset-border-radius"/>
                <span style="padding-left: 10px;">{{userDetailsViewQuyenHanTab.moduleNameRef[key]}}</span>
            </div>
        </md-subheader>
        <md-list-item ng-repeat="desc in userDetailsViewQuyenHanTab.resolvedUserPhanQuyenDesc[key]" class="md-2-line"
                      ng-click="null">
            <div class="md-list-item-text">
                <h3>{{desc.tac_vu}}</h3>
                <p>{{desc.mo_ta}}</p>
            </div>
        </md-list-item>
    </div>
    <div ng-if="!userDetailsViewQuyenHanTab.resolvedKeysUserPhanQuyenDesc.length">
        <md-subheader class="md-no-sticky" layout-fill style="background-color: #ebebeb;">
            <div layout="row" layout-align="start center">
                <img ng-src="img/icons/users/user_not_active.svg" style="width: 34px; height: 34px;"
                     class="md-avatar sky-reset-border-radius"/>
                <span style="padding-left: 10px;">Tài khoản của bạn hiện chưa được phân quyền trong hệ thống.</span>
            </div>
        </md-subheader>

    </div>
</md-list>
