<md-dialog id="tbis-details-add-new-history-modal" aria-label="Thêm nhật ký sửa chữa">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cập nhật hình đại diện</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="userDetailsViewThietLapTabUpdateAvatarModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <form name="userDetailsViewThietLapTabUpdateAvatarModal.avatarForm">
            <md-list flex>
                <md-subheader class="md-no-sticky" style="margin-bottom: 48px;">Vui lòng nhập liên kết tới hình ảnh mà bạn muốn đặt là hình đại diện. Chúng tôi khuyên bạn sử dụng dịch vụ của <a href="https://en.gravatar.com/">GAvatar</a>.</md-subheader>
                <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
                    <p>Sử dụng GAvatar</p>
                    <md-switch class="md-secondary" ng-model="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.isGAvatar"></md-switch>
                </md-list-item>
                <md-list-item class="md-2-line" flex ng-hide="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.isGAvatar">
                    <img ng-hide="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.url"
                         ng-src="/img/icons/users/photo_camera.svg"
                         class="md-avatar sky-reset-border-radius sky-no-animate" />
                    <img ng-show="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.url"
                         image-fallback image-url="{{userDetailsViewThietLapTabUpdateAvatarModal.previewAvatar}}"
                         class="md-avatar sky-no-animate" />
                    <md-input-container class="md-block" flex="100">
                        <label>Liên kết tới avatar của tôi</label>
                        <input name="url" ng-model="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.url"
                               ng-blur="userDetailsViewThietLapTabUpdateAvatarModal.updatePreviewAvatar()">
                    </md-input-container>
                </md-list-item>
                <md-list-item class="md-2-line" flex ng-show="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.isGAvatar">
                    <img ng-hide="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.gAvatarUrl"
                         ng-src="/img/icons/users/database.svg"
                         class="md-avatar sky-reset-border-radius sky-no-animate" />
                    <img ng-show="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.gAvatarUrl"
                         image-fallback image-url="{{userDetailsViewThietLapTabUpdateAvatarModal.previewAvatar}}"
                         class="md-avatar sky-no-animate" />
                    <md-input-container class="md-block" flex="100">
                        <label>Email đăng ký tại GAvatar</label>
                        <input name="g_avatar" ng-model="userDetailsViewThietLapTabUpdateAvatarModal.userAvatar.gAvatarEmail" ng-pattern="/^.+@.+\..+$/"
                               ng-blur="userDetailsViewThietLapTabUpdateAvatarModal.updateGAvatar();userDetailsViewThietLapTabUpdateAvatarModal.updatePreviewAvatar()">
                        <div ng-messages="userDetailsViewThietLapTabUpdateAvatarModal.avatarForm.g_avatar.$error">
                            <div ng-message="pattern">Địa chỉ email không hợp lệ</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </md-list>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="userDetailsViewThietLapTabUpdateAvatarModal.close()" aria-label="Cancel">Hủy bỏ</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="userDetailsViewThietLapTabUpdateAvatarModal.update()" aria-label="Update">Cập nhật</md-button>
    </md-dialog-actions>
</md-dialog>