<md-dialog id="tbis-details-add-new-history-modal" aria-label="Thêm nhật ký sửa chữa" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cập nhật hình đại diện</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="userDetailsViewThietLapTabUpdateAvatarModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <md-list flex>
            <md-subheader class="md-no-sticky" style="margin-bottom: 48px;">Vui lòng nhập liên kết tới hình ảnh mà bạn muốn đặt là hình đại diện. Chúng tôi khuyên bạn sử dụng dịch vụ của GAvatar (<a href="https://en.gravatar.com/">https://en.gravatar.com/</a>), tạo một lần, sử dụng mọi nơi! : )</md-subheader>
            <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
                <p>Sử dụng GAvatar</p>
                <md-switch class="md-secondary" ng-model="userDetailsViewThietLapTabUpdateAvatarModal.setting.enabled"></md-switch>
            </md-list-item>
            <md-list-item class="md-2-line" flex ng-hide="userDetailsViewThietLapTabUpdateAvatarModal.setting.enabled">
                <img ng-src="/img/icons/users/mailbox.svg" class="md-avatar sky-reset-border-radius" />
                <md-input-container class="md-block" flex="100">
                    <label>Liên kết tới avatar của tôi</label>
                    <input ng-model="userDetailsViewThietLapTabUpdateAvatarModal.viewModel.tham_chieu.refMaximo">
                </md-input-container>
            </md-list-item>
            <md-list-item class="md-2-line" flex ng-show="userDetailsViewThietLapTabUpdateAvatarModal.setting.enabled">
                <img ng-src="/img/icons/users/mailbox.svg" class="md-avatar sky-reset-border-radius" />
                <md-input-container class="md-block" flex="100">
                    <label>Email của tôi tại GAvatar</label>
                    <input ng-model="userDetailsViewThietLapTabUpdateAvatarModal.viewModel.tham_chieu.refMaximo">
                </md-input-container>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="userDetailsViewThietLapTabUpdateAvatarModal.close()" aria-label="Reset">Hủy bỏ</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="userDetailsViewThietLapTabUpdateAvatarModal.addNew()" aria-label="Tạo mới">Đổi mật khẩu</md-button>
    </md-dialog-actions>
</md-dialog>