<form style="margin: 16px;">
    <md-radio-group id="select-options-mode" ng-model="tbisDetailsImageQuanLyTab.tabModeSelected">
        <md-radio-button value="addNew">Thêm hình ảnh mới</md-radio-button>
        <md-radio-button value="update">Cập nhật hình ảnh</md-radio-button>
    </md-radio-group>
</form>
<div id="add-new-image-form" ng-show="tbisDetailsImageQuanLyTab.tabModeSelected==='addNew'">
    <md-divider></md-divider>
    <p style="padding: 16px;" class="md-body-1">Vui lòng điền các thông tin vào mẫu phiếu dưới đây để thêm hình ảnh cho thiết bị:</p>
    <tbis-details-image-input-form view-model="tbisDetailsImageQuanLyTab.newImageModel"></tbis-details-image-input-form>
    <md-divider></md-divider>
</div>
<div id="add-update-image-form" ng-show="tbisDetailsImageQuanLyTab.tabModeSelected==='update'">
    <md-divider></md-divider>
    <p style="padding: 16px;" class="md-body-1">Vui lòng click chọn hình ảnh cần cập nhật trong danh sách được liệt kê dưới đây:</p>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in tbisDetailsImageQuanLyTab.hinhAnhs.collections" ng-click="tbisDetailsImageQuanLyTab.selectImage(item)">
            <img ng-src="{{item.thumb}}?{{$index}}" class="md-avatar" alt="{{item.tieu_de}}" />
            <div class="md-list-item-text" layout="column">
                <h3 ng-class="{'hightlight': item._id === tbisDetailsImageQuanLyTab.hinhAnhs.default._id}">{{ item.tieu_de }}</h3>
                <h4>{{ item.ngay_tao | displayRelativeTimeFilter }}</h4>
                <h4>{{ item.url }}</h4>
            </div>
        </md-list-item>
    </md-list>
    <tbis-details-image-input-form view-model="tbisDetailsImageQuanLyTab.selectedImage"></tbis-details-image-input-form>
    <md-divider></md-divider>
</div>