<md-content layout="row" layout-align="center start" layout-fill layout-margin>
    <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
        <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
            <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
                <h3 class="md-display-1" flex>
                    Reset mật khẩu</h3>
                <img src="img/icons/common/password.svg" class="sky-img"/>
            </div>
        </md-toolbar>
        <div layout="column" layout-fill layout-margin layout-padding>
            <form name="password.resetPasswordForm" layout="column" >
                <div layout="row" layout-fill>
                    <p class="md-body-2">
                        Vui lòng nhập mật khẩu mới của bạn và tiến hành kích hoạt mã token
                    </p>
                </div>
                <md-input-container>
                    <label>Token</label>
                    <input type="text" name="creadentials_token" ng-model="resetPassword.credentials.token" aria-label="token" readonly/>
                    <div ng-messages="resetPassword.resetPasswordForm.creadentials_token.$error">
                        <div ng-message="required">Bạn chưa nhập email đăng ký.</div>
                        <div ng-message="pattern">Địa chỉ email không hợp lệ.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Mật khẩu mới</label>
                    <input type="password" name="creadentials_password" ng-model="resetPassword.credentials.password" aria-label="password" required minlength="8"/>
                    <div ng-messages="resetPassword.resetPasswordForm.creadentials_password.$error">
                        <div ng-message="required">Bạn chưa nhập mật khẩu mới.</div>
                        <div ng-message="minlength">Mật khẩu mới của bạn phải có độ dài ít nhất 8 ký tự.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Nhập lại mật khẩu mới</label>
                    <input type="password" name="creadentials_repeat_password" ng-model="resetPassword.credentials.repeatPassword" aria-label="repeatPassword" required minlength="8"/>
                    <div ng-messages="resetPassword.resetPasswordForm.creadentials_repeat_password.$error">
                        <div ng-message="required">Bạn chưa nhập mật khẩu mới.</div>
                        <div ng-message="minlength">Mật khẩu mới của bạn phải có độ dài ít nhất 8 ký tự.</div>
                    </div>
                </md-input-container>
                <div layout="row" ng-if="resetPassword.isResetting" layout-align="center center">
                    <md-progress-circular class="md-accent" md-diameter="40"></md-progress-circular>
                </div>
                <div layout="row" ng-hide="resetPassword.isResetting" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="resetPassword.reset()" aria-label="login" ng-disabled="resetPassword.resetPasswordForm.$invalid">Reset mật khẩu</md-button>
                </div>
            </form>

            <md-divider></md-divider>
            <div layout="row" layout-align="center">
                <a class="md-button" href="/login">Đăng nhập</a>
            </div>
        </div>
    </md-whiteframe>
</md-content>