<md-list-item class="md-3-line md-long-text" ng-if="tbisDetailsViewReportViewCommentActionItem.viewModel.type==='comment'">
    <img user-avatar user-id="{{tbisDetailsViewReportViewCommentActionItem.viewModel.metadata.user.nguoi_tao.keyId}}" class="md-avatar"/>
    <tbis-details-view-report-view-comment-item is-editable="true" comment="tbisDetailsViewReportViewCommentActionItem.viewModel"></tbis-details-view-report-view-comment-item>
</md-list-item>
<md-subheader class="md-no-sticky" ng-if="tbisDetailsViewReportViewCommentActionItem.viewModel.type==='action'">
    <md-icon ng-show="tbisDetailsViewReportViewCommentActionItem.viewModel.action==='reopen'" style="float: left;color: rgba(0, 0, 0, 0.54);" md-svg-src="/img/icons/common/info_outline.svg" class="no-margin" aria-label="Tạo mới"></md-icon>
    <md-icon ng-show="tbisDetailsViewReportViewCommentActionItem.viewModel.action==='close'" style="float: left;color: rgba(0, 0, 0, 0.54);" md-svg-src="/img/icons/common/done.svg" class="no-margin" aria-label="Tạo mới"></md-icon>
    <div style="margin-left: 56px;">
        <span user-name user-id="{{tbisDetailsViewReportViewCommentActionItem.viewModel.metadata.user.nguoi_tao.keyId}}"></span> đã {{tbisDetailsViewReportViewCommentActionItem.viewModel.noi_dung}} chủ đề này vào {{tbisDetailsViewReportViewCommentActionItem.viewModel.metadata.thoi_gian.tao_moi.ngay_tao_date | displayRelativeTimeFilter}}
    </div>
</md-subheader>
<md-divider></md-divider>