<div layout="row" style="margin: 16px 16px -50px;" flex>
    <md-input-container class="md-block" flex="70">
        <label>Tìm kiếm</label>
        <input ng-model="tbisDetailsViewReportViewSearchTool.searchFilterBarOptions.searchText" ng-blur="tbisDetailsViewReportViewSearchTool.setSearchTextSubscribe()">
    </md-input-container>
    <md-input-container flex="30">
        <label>Sắp xếp</label>
        <md-select ng-model="tbisDetailsViewReportViewSearchTool.searchFilterBarOptions.sort" ng-change="tbisDetailsViewReportViewSearchTool.setSortOrderSubscribe()">
            <md-option value="-1">Mới nhất</md-option>
            <md-option value="1">Cũ nhất</md-option>
        </md-select>
    </md-input-container>
</div>