<md-list-item class="md-3-line" ng-click="null">
    <div class="md-list-item-text" layout="column" flex>
        <h3><strong>{{tbisDisplayListItem.thietbi.ma_thiet_bi.keyId}}:</strong> {{tbisDisplayListItem.thietbi.nguon_goc.hang_san_xuat}} <span ng-show="tbisDisplayListItem.thietbi.ho_so.nam_su_dung">({{tbisDisplayListItem.thietbi.ho_so.nam_su_dung}})</span></h3>
        <h4>{{tbisDisplayListItem.thietbi.phan_loai.chung_loai}} - {{tbisDisplayListItem.thietbi.dia_diem.khu_vuc.ten}}</h4>
        <p>{{tbisDisplayListItem.thietbi.phan_quyen.quan_ly.ten}}</p>
    </div>
    <div>
        <img class="md-avatar" ng-src="http://lorempixel.com/400/400">
    </div>
</md-list-item>
