<md-list-item class="md-3-line" md-ink-ripple="#FF0000">
    <div class="md-list-item-text" layout="column" flex>
        <h3><strong>{{tbisDisplayListItem.thietbi.ma_thiet_bi.keyId}}:</strong> {{tbisDisplayListItem.thietbi.hang_san_xuat.ten_hang}} ({{tbisDisplayListItem.thietbi.thong_tin_chung.nam_su_dung}})</h3>
        <h4>{{tbisDisplayListItem.thietbi.phan_loai.chung_loai}} - {{tbisDisplayListItem.thietbi.vi_tri.khu_vuc.ten_khu_vuc}}</h4>
        <p>{{tbisDisplayListItem.thietbi.phan_quyen.quan_ly.ten_don_vi}}</p>
    </div>
    <img class="md-avatar" ng-src="http://lorempixel.com/400/400">
</md-list-item>
