<tbis-search-form></tbis-search-form>
<md-list>
    <sky-paging-info subscribe-options="tbisDisplayListView.subscribeOptions"></sky-paging-info>
    <tbis-display-list-item ng-repeat="thietbi in tbisDisplayListView.thietbis | orderBy: tbisDisplayListView.ngSortBy"
                            thietbi="thietbi"
                            ui-sref="tbisDetailsView({thietbiId: thietbi._id})">
    </tbis-display-list-item>
</md-list>
<sky-pager subscribe-options="tbisDisplayListView.subscribeOptions"></sky-pager>

