<md-list flex>
    <md-subheader class="md-no-sticky">Danh sách dưới đây liệt kê các cấu hình ưa thích của bạn, hoặc bạn có thể lưu cấu hình hiện tại.</md-subheader>
</md-list>
<div style="padding: 0 16px;">
    <div layout="row" layout-align="center center">
        <md-button class="md-primary no-animate"
                   ng-show="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.mode==='listView'"
                   ng-click="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.setMode('addNew')" >
            Lưu cấu hình hiện tại
        </md-button>
        <md-button class="md-warn no-animate"
                   ng-show="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.mode==='addNew'"
                   ng-click="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.setMode('listView')" >
            Hủy bỏ
        </md-button>
        <md-button class="md-primary no-animate"
                   ng-show="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.mode==='addNew'"
                   ng-click="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.addNewCloudSetting()" >
            Tiếp tục
        </md-button>
    </div>
    <form   name="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.addNewForm"
            ng-show="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.mode==='addNew'" >
        <md-input-container class="md-block" style="width: 100%;">
            <label>Tên cấu hình</label>
            <input  name="cloud_setting_description"
                    ng-model="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.newCloudSetting.dataSource.description"
                    required>
            <div ng-messages="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.addNewForm.cloud_setting_description.$error">
                <div ng-message="required">Thông tin bắt buộc.</div>
            </div>
        </md-input-container>
    </form>
</div>


<pre>{{tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.newCloudSetting | json}}</pre>
<md-divider></md-divider>
<div ng-show="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.fileType === 'excel'">
    <md-list flex>
        <form name="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.excelForm" layout="column">
            <md-list-item style="margin-top: 40px;">
                <md-input-container class="md-block" style="width: 100%;">
                    <label>Tên file</label>
                    <input  name="excel_file_name"
                            ng-model="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.excelExportOptions.fileName"
                            required ng-pattern="/\.(xlsx)$/">
                    <div ng-messages="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.excelForm.excel_file_name.$error">
                        <div ng-message="required">Thông tin bắt buộc.</div>
                        <div ng-message="pattern">Tên file không hợp lệ.</div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-checkbox ng-model="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.excelExportOptions.allPages" class="md-primary"></md-checkbox>
                <p>Tất cả các trang</p>
            </md-list-item>
            <md-list-item>
                <md-checkbox ng-model="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.excelExportOptions.filterable" class="md-primary"></md-checkbox>
                <p>Tích hợp cùng bộ lọc dữ liệu</p>
            </md-list-item>
            <md-divider></md-divider>
            <div style="margin-top: 32px;" layout="row" layout-align="center center">
                <md-button class="md-primary" ng-click="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.exportExcel()">Xuất dữ liệu</md-button>
            </div>
        </form>
    </md-list>
    <pre>{{tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.excelExportOptions | json}}</pre>
</div>
<div ng-show="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.fileType === 'pdf'">
    <md-list flex>
        <form name="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.pdfForm" layout="column">
            <md-list-item style="margin-top: 40px;">
                <md-input-container class="md-block" style="width: 100%;">
                    <label>Tên file</label>
                    <input  name="pdf_file_name"
                            ng-model="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.pdfExportOptions.fileName"
                            required ng-pattern="/\.(pdf)$/">
                    <div ng-messages="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.pdfForm.pdf_file_name.$error">
                        <div ng-message="required">Thông tin bắt buộc.</div>
                        <div ng-message="pattern">Tên file không hợp lệ.</div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-checkbox ng-model="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.pdfExportOptions.allPages" class="md-primary"></md-checkbox>
                <p>Tất cả các trang</p>
            </md-list-item>
            <md-list-item>
                <md-checkbox ng-model="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.pdfExportOptions.landscape" class="md-primary"></md-checkbox>
                <p>Giấy khổ ngang</p>
            </md-list-item>
            <md-divider></md-divider>
            <div style="margin-top: 32px;" layout="row" layout-align="center center">
                <md-button class="md-primary" ng-click="tbisListUtilsTopBarKendoGridSettingsModalCauHinhTab.exportPdf()">Xuất dữ liệu</md-button>
            </div>
        </form>
    </md-list>

</div>
<div style="color: transparent;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
