<md-list flex style="padding-top: 0; padding-bottom: 32px;">
    <md-subheader class="md-no-sticky">Vui lòng cập nhật phân quyền người dùng theo mẫu phiếu dưới đây. Lưu ý bạn cần xác nhận mã PIN của người quản trị trước khi cập nhật.</md-subheader>
    <form name="userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.thietLapForm">
        <md-list-item class="md-2-line" flex="100" layout="column">
            <div style="width:100%; padding-bottom: 10px;">
                <md-chips ng-model="userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.selectedUserRoles.rights" md-removable="true"></md-chips>
                <label class="md-body-1">Rights</label>
            </div>
            <div style="width:100%; padding-bottom: 10px;">
                <md-chips ng-model="userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.selectedUserRoles.zones" md-removable="true"></md-chips>
                <label class="md-body-1">Zones</label>
            </div>
            <div style="width:100%; padding-bottom: 10px;">
                <md-chips ng-model="userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.selectedUserRoles.assets" md-removable="true"></md-chips>
                <label class="md-body-1">Assets</label>
            </div>
            <div style="width:100%; padding-bottom: 10px;">
                <md-chips ng-model="userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.selectedUserRoles.donvies" md-removable="true"></md-chips>
                <label class="md-body-1">Donvies</label>
            </div>
            <div style="width:100%; padding-bottom: 10px;">
                <md-chips ng-model="userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.selectedUserRoles.updatefields" md-removable="true"></md-chips>
                <label class="md-body-1">Update Fields</label>
            </div>
            <div style="width:100%; padding-bottom: 10px;">
                <md-chips ng-model="userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.selectedUserRoles.exports" md-removable="true"></md-chips>
                <label class="md-body-1">Exports</label>
            </div>
        </md-list-item>
    </form>
</md-list>
<pre>
{{userDetailsViewQuanLyTabUpdatePhanQuyenModalThietLapTab.selectedUserRoles|json}}
</pre>
