<md-dialog id="tbis-details-add-new-history-modal" aria-label="Thêm nhật ký sửa chữa" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Thêm nhật ký sửa chữa</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="tbisDetailsViewHistoryViewAddNewModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <p class="md-body-1" style="padding: 16px 16px 0px 16px;">Vui lòng điền các thông tin về nhật ký sửa chữa thiết bị theo mẫu phiếu dưới đây:</p>
        <tbis-details-view-history-view-tbis-history-input-form is-editor-active="tbisDetailsViewHistoryViewAddNewModal.isModalOpen" view-model="tbisDetailsViewHistoryViewAddNewModal.newTbisHistory"></tbis-details-view-history-view-tbis-history-input-form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="tbisDetailsViewHistoryViewAddNewModal.reset()" aria-label="Reset">Reset</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="tbisDetailsViewHistoryViewAddNewModal.addNew()" aria-label="Tạo mới">Tạo mới</md-button>
    </md-dialog-actions>
</md-dialog>

