<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <!--Category-->
        <md-menu>
            <md-button aria-label="Chọn bộ lọc thiết bị" class="md-icon-button"
                       ng-click="tbisUtilsBar.openFilterMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="{{tbisUtilsBar.utilsBarIconsOptions.categories[tbisUtilsBar.componentOptions.category]}}"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in tbisUtilsBar.categoryOptions">
                    <md-button ng-click="tbisUtilsBar.setCategory(item.value)">
                        <md-icon md-svg-icon="{{item.icon}}" ng-class="{'md-accent': item.value==tbisUtilsBar.componentOptions.category}" md-menu-align-target></md-icon>
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button style="margin-left:0;" md-no-ink>{{tbisUtilsBar.subscribeOptions.subscribe.category}}</md-button>
        <span flex></span>

        <!--View Mode-->
        <md-menu>
            <md-button aria-label="Chọn chế độ xem" class="md-icon-button"
                       ng-click="tbisUtilsBar.openFilterMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="{{tbisUtilsBar.utilsBarIconsOptions.viewMode[tbisUtilsBar.componentOptions.viewMode]}}"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in tbisUtilsBar.viewModeOptions">
                    <md-button ng-click="tbisUtilsBar.setViewMode(item.value)">
                        <md-icon ng-class="{'md-accent': item.value==tbisUtilsBar.componentOptions.viewMode}" md-svg-icon="{{item.icon}}" md-menu-align-target></md-icon>
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <!--Search / Filter Select Mode !not in Grid Mode -->
        <md-menu ng-show="tbisUtilsBar.componentOptions.viewMode!=='grid'">
            <md-button aria-label="Chọn chế độ tìm kiếm / lọc" class="md-icon-button"
                       ng-click="tbisUtilsBar.openFilterMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="{{tbisUtilsBar.utilsBarIconsOptions.searchFilterMode[tbisUtilsBar.componentOptions.searchFilterMode]}}"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in tbisUtilsBar.searchFilterOptions">
                    <md-button ng-click="tbisUtilsBar.setSearchFilterMode(item.value)">
                        <md-icon ng-class="{'md-accent': item.value==tbisUtilsBar.componentOptions.searchFilterMode}" md-svg-icon="{{item.icon}}" md-menu-align-target></md-icon>
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <!-- Toggle Search/Filter KGrid !for Grid Mode -->
        <md-menu ng-show="tbisUtilsBar.componentOptions.viewMode==='grid'">
            <md-button aria-label="Chọn chế độ tìm kiếm / lọc" class="md-icon-button"
                       ng-click="tbisUtilsBar.openFilterMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="{{tbisUtilsBar.utilsBarIconsOptions.searchFilterMode[tbisUtilsBar.componentOptions.searchFilterMode]}}"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in tbisUtilsBar.searchFilterOptions">
                    <md-button ng-click="tbisUtilsBar.setGridSearchFilterMode(item.value)">
                        <md-icon ng-class="{'md-accent': item.value==tbisUtilsBar.componentOptions.searchFilterMode}" md-svg-icon="{{item.icon}}" md-menu-align-target></md-icon>
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button class="md-icon-button" aria-label="Cài đặt thanh tiện ích">
            <md-icon md-svg-icon="img/icons/common/settings.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>