<form>
    <md-radio-group id="select-options-mode" ng-model="tbisDetailsUpdateThongSoTab.options.mode">
        <md-radio-button value="thong_so_hoat_dong">Thông số hoạt động</md-radio-button>
        <md-radio-button value="thong_so_ky_thuat">Thông số kỹ thuật</md-radio-button>
    </md-radio-group>
</form>
<md-divider></md-divider>
<form name="tbisDetailsUpdateThongSoTab.addNewThongSoKyThuatForm" style="margin: 16px;">
    <div layout="column" layout-fill>
        <pre>
            {{tbisDetailsUpdateThongSoTab.newThongSoKyThuat | json}}
        </pre>

        <div layout="row">
            <md-input-container class="md-block" flex="50">
                <label>Nhóm thông số</label>
                <md-select name="nhom_thong_so" ng-model="tbisDetailsUpdateThongSoTab.newThongSoKyThuat.nhom"
                           ng-change="tbisDetailsUpdateThongSoTab.newThongSoKyThuat.ten_thong_so = {};tbisDetailsUpdateThongSoTab.newThongSoKyThuat.don_vi = '';"
                           required>
                    <md-option ng-value="nhom" ng-repeat="nhom in tbisDetailsUpdateThongSoTab.selectOptions.nhoms[tbisDetailsUpdateThongSoTab.viewModel.phan_loai.loai]">{{nhom}}</md-option>
                </md-select>
                <div class="errors" ng-messages="tbisDetailsUpdateThongSoTab.addNewThongSoKyThuatForm.nhom_thong_so.$error">
                    <div ng-message="required">Thông tin bắt buộc.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex="100">
                <label>Tên thông số</label>
                <md-select name="ten_thong_so" ng-model="tbisDetailsUpdateThongSoTab.newThongSoKyThuat.ten_thong_so">
                    <md-option ng-value="ten_thong_so" ng-repeat="ten_thong_so in tbisDetailsUpdateThongSoTab.selectOptions.tenthongsos[tbisDetailsUpdateThongSoTab.viewModel.phan_loai.loai][tbisDetailsUpdateThongSoTab.newThongSoKyThuat.nhom]">{{ten_thong_so.ten}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex="50">
                <label>Giá trị</label>
                <input name="gia_tri" ng-model="tbisDetailsUpdateThongSoTab.newThongSoKyThuat.gia_tri" required>
                <div ng-messages="tbisDetailsUpdateThongSoTab.addNewThongSoKyThuatForm.gia_tri.$error">
                    <div ng-message="required">Thông tin bắt buộc.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
                <label>Đơn vị</label>
                <md-select name="don_vi" ng-model="tbisDetailsUpdateThongSoTab.newThongSoKyThuat.don_vi">
                    <md-option ng-value="donvi" ng-repeat="donvi in tbisDetailsUpdateThongSoTab.selectOptions.donvis[tbisDetailsUpdateThongSoTab.viewModel.phan_loai.loai][tbisDetailsUpdateThongSoTab.newThongSoKyThuat.nhom]">{{donvi}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</form>
<md-divider></md-divider>