<form>
    <md-radio-group id="select-options-mode" ng-model="tbisDetailsUpdateThongSoTab.tabModeSelected">
        <md-radio-button value="thong_so_hoat_dong">Thông số hoạt động</md-radio-button>
        <md-radio-button value="thong_so_ky_thuat">Thông số kỹ thuật</md-radio-button>
    </md-radio-group>
</form>
<md-divider></md-divider>
<div id="thong-so-hoat-dong-form" ng-show="tbisDetailsUpdateThongSoTab.tabModeSelected==='thong_so_hoat_dong'">
    <form name="tbisDetailsUpdateThongSoTab.editThongSoHoatDongForm" style="margin: 16px;">
        <div layout="row" layout-fill>
            <md-input-container class="md-block" flex="50">
                <label>Thời gian hoạt động (giờ)</label>
                <!--<input type="number" min="0" name="hours" ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_hoat_dong.hours">-->
                <input kendo-numeric-text-box k-min="0" k-ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_hoat_dong.hours" k-decimals="0" k-format="'n0'" k-step="100" style="width: 100%;"/>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
                <label>Sản lượng khai thác (cont)</label>
                <!--<input type="number" min="0" name="conts" ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_hoat_dong.conts">-->
                <input kendo-numeric-text-box k-min="0" k-ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_hoat_dong.conts" k-decimals="0" k-format="'n0'" k-step="100" style="width: 100%;"/>
            </md-input-container>
        </div>
        <div layout="row" layout-fill>
            <md-input-container class="md-block" flex="50">
                <label>Số km</label>
                <!--<input type="number" min="0" name="kms" ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_hoat_dong.kms">-->
                <input kendo-numeric-text-box k-min="0"k-ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_hoat_dong.kms" k-decimals="0" k-format="'n0'" k-step="100" style="width: 100%;"/>
            </md-input-container>
        </div>
    </form>
</div>
<div id="thong-so-ky-thuat-form" ng-show="tbisDetailsUpdateThongSoTab.tabModeSelected==='thong_so_ky_thuat'">
    <form name="tbisDetailsUpdateThongSoTab.addNewThongSoKyThuatForm" style="margin: 16px;">
        <div layout="column" layout-fill>
            <div layout="row">
                <md-input-container class="md-block" flex="50">
                    <label>Nhóm thông số</label>
                    <md-select name="nhom_thong_so" ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.nhom"
                               ng-change="tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.ten_thong_so = {};tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.don_vi = '';">
                        <md-option ng-value="nhom" ng-repeat="nhom in tbisDetailsUpdateThongSoTab.selectOptions.nhoms[tbisDetailsUpdateThongSoTab.mode]">{{nhom}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <div layout="row" flex-gt-sm="50">
                    <md-input-container class="md-block" flex="100">
                        <label>Tên thông số</label>
                        <md-select name="ten_thong_so" ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.ten_thong_so">
                            <md-option ng-value="ten_thong_so" ng-repeat="ten_thong_so in tbisDetailsUpdateThongSoTab.selectOptions.tenthongsos[tbisDetailsUpdateThongSoTab.mode][tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.nhom]">{{ten_thong_so.ten}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" flex-gt-sm="50">
                    <md-input-container class="md-block" flex="50">
                        <label>Giá trị</label>
                        <input name="gia_tri" ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.gia_tri">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Đơn vị</label>
                        <md-select name="don_vi" ng-model="tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.don_vi">
                            <md-option ng-value="donvi" ng-repeat="donvi in tbisDetailsUpdateThongSoTab.selectOptions.donvis[tbisDetailsUpdateThongSoTab.mode][tbisDetailsUpdateThongSoTab.viewModel.thong_so_ky_thuat.nhom]">{{donvi}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="center center">
                <md-button aria-label="Thêm thông số" ng-click="tbisDetailsUpdateThongSoTab.addNew()">Thêm thông số</md-button>
            </div>
        </div>
    </form>
    <md-divider></md-divider>
    <md-list>
        <div ng-repeat="(nhom, thongsokythuats) in tbisDetailsUpdateThongSoTab.thongsokythuats">
            <md-subheader class="md-no-sticky">{{nhom}}</md-subheader>
            <md-list-item ng-repeat="thongsokythuat in thongsokythuats track by thongsokythuat._id" ng-mouseenter="tbisDetailsUpdateThongSoTab.hoverThongSoKyThuat=thongsokythuat._id" ng-mouseleave="tbisDetailsUpdateThongSoTab.hoverThongSoKyThuat=''">
                <span ng-class="{'sky-typo-add-new': thongsokythuat.addNew, 'sky-typo-remove': thongsokythuat.remove}"><span class="sky-typo-strong" >{{thongsokythuat.ten_thong_so.ten}}:&nbsp;</span><span class="sky-typo-normal">{{thongsokythuat.gia_tri}} {{thongsokythuat.don_vi}}</span></span>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Xóa thông số" ng-show="tbisDetailsUpdateThongSoTab.hoverThongSoKyThuat === thongsokythuat._id" ng-click="tbisDetailsUpdateThongSoTab.toggleRemoveThongSoKyThuat({thongsokythuat: thongsokythuat})">
                    <md-icon md-svg-icon="img/icons/common/close.svg"></md-icon>
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</div>

<!--<pre>{{tbisDetailsUpdateThongSoTab.selectOptions|json}}</pre>-->

