tbis-details-update-thong-so-tab {
  #select-options-mode {
    md-radio-button {
      margin: 16px;
    }
  }
  #thong-so-hoat-dong-form {
    md-input-container .md-input {
      border-width: 0 0;
    }
  }
  md-list-item{
    min-height: 0;
    margin-left: 16px;
  }
  md-divider {
    margin-top: 20px;
  }

}