<md-list>
    <md-subheader class="md-no-sticky">Tham chiếu</md-subheader>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ma_thiet_bi.topX || tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ma_thiet_bi.maximo">
         <span class="sky-typo-strong" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ma_thiet_bi.topX">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ma_thiet_bi.topX}} (TopX);&nbsp;</span><span class="sky-typo-strong" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ma_thiet_bi.maximo">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ma_thiet_bi.maximo}} (Maximo);</span>
    </md-list-item>
    <md-list-item >
        <span class="sky-typo-normal">Phân nhóm {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_loai.nhom}}, chủng loại {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_loai.chung_loai}}, loại {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_loai.loai}}.</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.nam_su_dung">Thiết bị được sử dụng từ năm {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.nam_su_dung}}.</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.trang_thai}} tại {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.dia_diem.khu_vuc.ten}}</span><span class="sky-typo-normal" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.dia_diem.terminal">, {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.dia_diem.terminal}}</span><span class="sky-typo-normal" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.dia_diem.line">, {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.dia_diem.line}}</span>.
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Nguồn gốc, xuất xứ</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Hãng sản xuất:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.hang_san_xuat}}</span><span class="sky-typo-normal" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.nam_san_xuat">, năm {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.nam_san_xuat}}.</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.vendor">
        <span class="sky-typo-strong">Nhà phân phối:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.vendor}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.model">
        <span class="sky-typo-normal">Model {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.model}}.</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.noi_lap_rap">
        <span class="sky-typo-normal">Thiết bị được lắp ráp tại {{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.nguon_goc.noi_lap_rap}}.</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Phân quyền</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Quản lý:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_quyen.quan_ly.ten}}</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Sở hữu:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_quyen.so_huu.ten}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_quyen.doi_van_hanh.ten || tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_quyen.van_hanh.ten">
        <span class="sky-typo-strong">Vận hành:&nbsp;</span><span class="sky-typo-normal" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_quyen.doi_van_hanh.ten">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_quyen.doi_van_hanh.ten}},&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.phan_quyen.van_hanh.ten}}.</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Các thông tin đăng ký</md-subheader>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.so_dang_ky">
        <span class="sky-typo-strong">Số đăng ký:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.so_dang_ky}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.bien_so">
        <span class="sky-typo-strong">Biển số:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.bien_so}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.so_khung">
        <span class="sky-typo-strong">Số khung:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.so_khung}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.so_may">
        <span class="sky-typo-strong">Số máy:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.so_may}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.xuat_xu">
        <span class="sky-typo-strong">Xuất xứ:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ho_so.xuat_xu}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.isEmptyThongTinDangKy()">
        <span class="sky-typo-normal">Chưa cập nhật các thông tin đăng ký.</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Bảo hành</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Thiết bị trong thời gian bảo hành.</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">Bảo hành từ ngày 12/08/2015 đến ngày 12/08/2016.</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">Thời gian bảo hành 12 tháng.</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Thiết bị đi kèm</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">VT-13:&nbsp;</span><span class="sky-typo-normal">Vận thăng, Alimax (2001)</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky" ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.tags.length || tbisDetailsViewHoSoViewTongQuanTabView.thietbi.mo_ta || tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ghi_chu">Các thông tin khác</md-subheader>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.tags.length">
        <span class="sky-typo-strong">Gắn thẻ:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.tags.join(', ')}}.</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.mo_ta">
        <span class="sky-typo-strong">Mô tả:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.mo_ta}}</span>
    </md-list-item>
    <md-list-item ng-show="tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ghi_chu">
        <span class="sky-typo-strong">Ghi chú:&nbsp;</span><span class="sky-typo-normal">{{tbisDetailsViewHoSoViewTongQuanTabView.thietbi.ghi_chu}}</span>
    </md-list-item>
    <div style="margin-top: 20px;"></div>
</md-list>