<md-fab-toolbar md-open="tbisDetailsViewHoSoViewFabMenu.isOpen" count="tbisDetailsViewHoSoViewFabMenu.count"
                md-direction="left">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-warn"">
        <md-icon md-svg-src="img/icons/common/menu.svg"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button ui-sref="thietbis" aria-label="Trở về" class="md-icon-button">
                <md-icon md-svg-src="img/icons/common/arrow_back.svg"></md-icon>
            </md-button>
            <tbis-details-view-report-view-add-new-mini-fab></tbis-details-view-report-view-add-new-mini-fab>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>