<md-toolbar class="md-hue-2" id="tbis-utils-bar">
    <div class="md-toolbar-tools">
        <!--Category-->
        <md-menu>
            <md-button aria-label="Chọn bộ lọc thiết bị" class="md-icon-button"
                       ng-click="utilsTopBar.openMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin
                         md-svg-icon="{{utilsTopBar.liveOptions.category.icon}}"
                >
                </md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in utilsTopBar.categoryOptionsDB">
                    <md-button ng-click="utilsTopBar.setCategory(item)">
                        <md-icon md-svg-icon="{{item.icon}}" ng-class="{'md-accent': item.value==utilsTopBar.subscribeOptions.subscribe.category}" md-menu-align-target></md-icon>
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button style="margin-left:0;" md-no-ink>{{utilsTopBar.subscribeOptions.subscribe.category}}</md-button>

        <span flex></span>

        <!--View Mode-->
        <md-menu>
            <md-button aria-label="Chọn chế độ xem" class="md-icon-button"
                       ng-click="utilsTopBar.openMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin
                         md-svg-icon="{{utilsTopBar.liveOptions.viewMode.icon}}"
                >
                </md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in utilsTopBar.viewModeOptionsDB">
                    <md-button ng-click="utilsTopBar.setViewMode(item)">
                        <md-icon ng-class="{'md-accent': item.value==utilsTopBar.componentOptions.viewMode}" md-svg-icon="{{item.icon}}" md-menu-align-target></md-icon>
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <!--Settings-->
        <md-button class="md-icon-button" aria-label="Cài đặt thanh tiện ích">
            <md-icon md-svg-icon="img/icons/common/settings.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>