<!--<md-tabs md-dynamic-height md-border-bottom class="sky-margin-top-{{tbisDetailsViewHoSoView.$mdMedia('gt-sm') ? '50' : '40'}}">-->
<div class="sky-margin-top-{{tbisDetailsViewHoSoView.$mdMedia('gt-sm') ? '50' : '40'}}"></div>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Tổng quan">
        <md-content>
            <tbis-details-view-ho-so-view-tong-quan-tab-view thietbi="tbisDetailsViewHoSoView.thietbi"></tbis-details-view-ho-so-view-tong-quan-tab-view>
        </md-content>
    </md-tab>
    <md-tab label="Thông số">
        <md-content>
            <tbis-details-view-ho-so-view-thong-so-tab-view></tbis-details-view-ho-so-view-thong-so-tab-view>
        </md-content>
    </md-tab>
    <md-tab label="Vị trí">
        <md-content class="md-padding">
            <tbis-details-view-ho-so-view-vi-tri-tab-view></tbis-details-view-ho-so-view-vi-tri-tab-view>
        </md-content>
    </md-tab>
</md-tabs>