<h1 class="md-headline">Thông số hoạt động</h1>

<md-list style="padding-bottom: 0;">
    <md-list-item>
        <span class="sky-typo-strong">Thời gian:&nbsp;</span><span class="sky-typo-normal">15,625 giờ</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Sản lượng:&nbsp;</span><span class="sky-typo-normal">7,235 conts</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">Bảo dưỡng gần nhất ngày 14/05/2016, cấp bảo dưỡng 3000 giờ.</span>
    </md-list-item>
    <md-divider></md-divider>
</md-list>

<h1 class="md-headline" style="margin-bottom: 0;">Thông số kỹ thuật</h1>
<div style="padding: 0 16px;" class="md-caption">Cẩu trục Liebherr cố định, model CBW40/29.5, 2014.</div>
<md-list>
    <md-subheader class="md-no-sticky">Phân cấp cẩu</md-subheader>
    <md-list-item >
        <span class="sky-typo-strong">Toàn bộ cẩu:&nbsp;</span><span class="sky-typo-normal">U5/A5/Q2</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Kết cấu thép:&nbsp;</span><span class="sky-typo-normal">B4/E3/P2</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Cc nâng hàng:&nbsp;</span><span class="sky-typo-normal">T5/M5/L2</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Cc xoay cần:&nbsp;</span><span class="sky-typo-normal">T4/M4/L2</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Cc nâng cần:&nbsp;</span><span class="sky-typo-normal">T4/M4/L2</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Tải trọng, tầm với</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Khi dùng móc:&nbsp;</span><span class="sky-typo-normal">40 tấn</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Khi dùng gàu:&nbsp;</span><span class="sky-typo-normal">20 tấn</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Bán kính:&nbsp;</span><span class="sky-typo-normal">3,5 ÷ 29,5 mét</span>
    </md-list-item>

    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Trọng lượng</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Tổng trọng lượng:&nbsp;</span><span class="sky-typo-normal">42,40 tấn</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Phần đế nối:&nbsp;</span><span class="sky-typo-normal">3,87 tấn</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Các cấu kiện rời:&nbsp;</span><span class="sky-typo-normal">2,67 tấn</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Tốc độ, công suất</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Nâng / hạ tải 40 tấn:&nbsp;</span><span class="sky-typo-normal">0-19 m/phút</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Nâng / hạ tải 20 tấn:&nbsp;</span><span class="sky-typo-normal">0-27 m/phút</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Nâng / hạ tải với móc rỗng:&nbsp;</span><span class="sky-typo-normal">0-30 m/phút</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Tốc độ xoay:&nbsp;</span><span class="sky-typo-normal">0-0,75 vòng/phút</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Góc xoay:&nbsp;</span><span class="sky-typo-normal">360 độ</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Thời gian nâng cần:&nbsp;</span><span class="sky-typo-normal">0,85 giây</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Hàng cont:&nbsp;</span><span class="sky-typo-normal">20 ÷ 22 cont/giờ</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Hàng rời:&nbsp;</span><span class="sky-typo-normal">150 ÷ 200 tấn/giờ</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Điều kiện thiết kế</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Nhiệt độ thiết kế:&nbsp;</span><span class="sky-typo-normal">-10 độ C</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Nhiệt độ làm việc:&nbsp;</span><span class="sky-typo-normal">-25 ÷ 45 độ C</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Độ ẩm tối đa:&nbsp;</span><span class="sky-typo-normal">93 %</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Tốc độ gió cho phép:&nbsp;</span><span class="sky-typo-normal">20 m/s</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Điều kiện xếp:&nbsp;</span><span class="sky-typo-normal">63 m/s</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Động cơ điện</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Dòng khởi động:&nbsp;</span><span class="sky-typo-normal">705 A</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Dòng danh nghĩa:&nbsp;</span><span class="sky-typo-normal">368 A</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Bộ khởi động:&nbsp;</span><span class="sky-typo-normal">sao tam giác</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Nguồn chính:&nbsp;</span><span class="sky-typo-normal">380 V, 50 Hz, 3 pha</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Nguồn phụ:&nbsp;</span><span class="sky-typo-normal">220 V, 50 Hz, 3 pha</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Cấp bảo vệ:&nbsp;</span><span class="sky-typo-normal">IP 54/55</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-strong">Cấp cách điện:&nbsp;</span><span class="sky-typo-normal">F</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Bảo hành</md-subheader>
    <md-list-item>
        <span class="sky-typo-strong">Thiết bị trong thời gian bảo hành.</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">Bảo hành từ ngày 12/08/2015 đến ngày 12/08/2016.</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">Thời gian bảo hành 12 tháng.</span>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Tài liệu</md-subheader>
    <md-list-item>
        <span class="sky-typo-normal">1. Tài liệu hướng dẫn lắp đặt bằng tiếng Anh (01 bộ dùng cho cẩu) x 1</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">2. Tài liệu hướng dẫn bảo trì bằng tiếng Anh - Quyển I (01 bộ sách + 2 CDs) x 3</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">3. Thông tin kỹ thuật bằng tiếng Anh - Quyển II (01 bộ sách + 2 CDs) x 3</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">4. Danh sách phụ tùng bằng tiếng Anh / Đức - Quyển III (01 bộ sách + 2 CDs) x 3</span>
    </md-list-item>
    <md-list-item>
        <span class="sky-typo-normal">5. Danh sách phụ tùng bằng tiếng Anh / Đức - Quyển III (01 bộ sách + 2 CDs) x 3</span>
    </md-list-item>
    <div style="margin-top: 20px;"></div>
</md-list>
