<tbis-details-utils-bar has-options="true" title="{{tbisDetailsView.thietbi.ma_thiet_bi.keyId}}"></tbis-details-utils-bar>
<div id="section-ho-so-view" ng-if="tbisDetailsView.componentOptions.utilsBar.category==='Hồ sơ'">
    <tbis-details-view-ho-so-view thietbi="tbisDetailsView.thietbi"></tbis-details-view-ho-so-view>
    <tbis-details-view-ho-so-view-fab-menu></tbis-details-view-ho-so-view-fab-menu>
</div>
<div id="section-report-view" ng-if="tbisDetailsView.componentOptions.utilsBar.category==='Tin tức'">
    <tbis-details-view-report-view></tbis-details-view-report-view>
</div>
<div id="section-history-view" ng-if="tbisDetailsView.componentOptions.utilsBar.category==='Nhật ký'">
    <tbis-details-view-history-view></tbis-details-view-history-view>
</div>

<!--<pre>-->
    <!--{{tbisDetailsView.selectedThietBi | json}}-->
<!--</pre>-->