<md-content layout="row" layout-align="center start" layout-margin>
    <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
        <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
            <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
                <h3 class="md-display-1" flex>
                    Đăng nhập</h3>
                <img src="img/icons/common/clouds.svg" class="sky-img"/>
            </div>
        </md-toolbar>
        <div layout="column" layout-fill layout-padding>
            <form name="login.loginForm" layout="column">
                <p class="md-body-2">
                    Đăng nhập Skynet bằng tài khoản của tôi
                </p>
                <md-input-container>
                    <label>Email của tôi</label>
                    <input type="email" ng-model="login.credentials.email" name="creadentials_email" aria-label="email" required ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="login.loginForm.creadentials_email.$error">
                        <div ng-message="required">Bạn chưa nhập email đăng ký.</div>
                        <div ng-message="pattern">Địa chỉ email đăng nhập không hợp lệ.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Mật khẩu đăng nhập</label>
                    <input type="password" ng-model="login.credentials.password" name="creadentials_password" aria-label="password" required/>
                    <div ng-messages="login.loginForm.creadentials_password.$error">
                        <div ng-message="required">Bạn phải điền mật khẩu đăng nhập.</div>
                    </div>
                </md-input-container>

                <md-divider class="inset" style="margin-left: -8px; margin-right: -8px; padding-left: 0; padding-right: 0"></md-divider>
                <div ng-if="login.isLogging" layout="row" layout-align="center">
                    <md-progress-circular class="md-accent" md-diameter="40"></md-progress-circular>
                </div>
                <div ng-hide="login.isLogging" layout="row" layout-align="space-between center">
                    <a class="md-button" href="/password">Quên mật khẩu?</a>
                    <md-button type="submit" class="md-raised md-primary" ng-click="login.login()" aria-label="login" ng-disabled="login.loginForm.$invalid">Đăng nhập</md-button>
                </div>
            </form>

            <md-divider></md-divider>
            <div layout="row" layout-align="center">
                <a class="md-button" href="/register">Đăng ký tài khoản mới?</a>
            </div>

        </div>
    </md-whiteframe>
</md-content>