<md-list-item class="md-3-line md-long-text" style="margin:0;padding: 16px;background-color: rgb(250, 250, 250);">
    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
    <div class="md-list-item-text sky-text-bind-html">
        <h3>{{tbisDetailsViewReportViewMainReportDisplay.metadata.user.nguoi_tao | displayNameFilter}} · XNCG</h3>
        <h4 style="margin-bottom: 10px">{{tbisDetailsViewReportViewMainReportDisplay.metadata.thoi_gian.tao_moi.ngay_tao_date | displayRelativeTimeFilter}}
            <span ng-if="tbisDetailsViewReportViewMainReportDisplay.isEditable && tbisDetailsViewReportViewMainReportDisplay.currentUserId===tbisDetailsViewReportViewMainReportDisplay.metadata.user.nguoi_tao.keyId ">
                <a  ng-hide="tbisDetailsViewReportViewMainReportDisplay.isEditMode" class="sky-action-hover" ng-click="tbisDetailsViewReportViewMainReportDisplay.setEditMode()"> · sửa</a>
                <a  ng-show="tbisDetailsViewReportViewMainReportDisplay.isEditMode" class="sky-action-hover" ng-click="tbisDetailsViewReportViewMainReportDisplay.cancelUpdate()"> · hủy bỏ</a>
                <a  ng-show="tbisDetailsViewReportViewMainReportDisplay.isEditMode" class="sky-action-hover" ng-click="tbisDetailsViewReportViewMainReportDisplay.updateNoiDung()"> · cập nhật</a>
            </span>
        </h4>
        <div ng-hide="tbisDetailsViewReportViewMainReportDisplay.isEditMode" ng-bind-html="tbisDetailsViewReportViewMainReportDisplay.noiDung"></div>
        <!--<div ng-if="tbisDetailsViewReportViewMainReportDisplay.isEditMode">-->
            <!--<textarea kendo-editor k-options="tbisDetailsViewReportViewMainReportDisplay.kendoEditorOptions" k-ng-model="tbisDetailsViewReportViewMainReportDisplay.newNoiDung"></textarea>-->
        <!--</div>-->
        <tbis-details-view-kendo-editor ng-if="tbisDetailsViewReportViewMainReportDisplay.isEditMode" view-model="tbisDetailsViewReportViewMainReportDisplay.newNoiDung"></tbis-details-view-kendo-editor>
    </div>
</md-list-item>