<md-content layout="row" layout-align="center start" layout-margin>
    <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
        <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
            <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
                <h3 class="md-display-1" flex>
                    Đăng ký tài khoản mới</h3>
                <img src="img/icons/common/blogging.svg" class="sky-img"/>
            </div>
        </md-toolbar>
        <div layout="column" layout-fill layout-padding>
            <form name="register.registerForm" layout="column" >
                <md-input-container>
                    <label>Email đăng ký</label>
                    <input type="email" ng-model="register.credentials.email" placeholder="Email" name="creadentials_email" aria-label="email" required ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="register.registerForm.creadentials_email.$error">
                        <div ng-message="required">Bạn chưa nhập email đăng ký.</div>
                        <div ng-message="pattern">Địa chỉ email đăng nhập không hợp lệ.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Mật khẩu của tôi</label>
                    <input type="password" ng-model="register.credentials.password" placeholder="Mật khẩu" name="creadentials_password" aria-label="password" minlength="8" required/>
                    <div ng-messages="register.registerForm.creadentials_password.$error">
                        <div ng-message="required">Bạn chưa điền mật khẩu đăng nhập.</div>
                        <div ng-message="minlength">Mật khẩu của bạn phải có độ dài tối thiểu 8 ký tự.</div>
                    </div>
                </md-input-container>

                <md-divider class="inset" style="margin-left: -8px; margin-right: -8px; padding-left: 0; padding-right: 0"></md-divider>

                <p class="md-body-2">Thông tin hồ sơ đăng ký</p>

                <div layout="row">
                    <md-input-container flex="60">
                        <label>Họ tên đệm</label>
                        <input type="text" name="profile_ho_ten_dem" ng-model="register.credentials.profile.ho_so.ho_ten_dem" aria-label="ho_ten_dem" required/>
                        <div ng-messages="register.registerForm.profile_ho_ten_dem.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="40">
                        <label>Tên</label>
                        <input type="text" name="profile_ten" ng-model="register.credentials.profile.ho_so.ten" aria-label="ten" required/>
                        <div ng-messages="register.registerForm.profile_ten.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" class="sky-fix-kendo-date-picker">
                    <md-input-container flex="60">
                        <label>Ngày sinh</label>
                        <input kendo-date-picker name="profile_ngay_sinh" k-format="'dd/MM/yyyy'" style="width: 100%;" k-ng-model="register.credentials.profile.ho_so.ngay_sinh" required type="date"/>
                        <div ng-messages="register.registerForm.profile_ngay_sinh.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="40">
                        <label>Giới tính</label>
                        <md-select name="profile_gioi_tinh" ng-model="register.credentials.profile.ho_so.gioi_tinh" required>
                            <md-option value="Nam">Nam</md-option>
                            <md-option value="Nữ">Nữ</md-option>
                        </md-select>
                        <div ng-messages="register.registerForm.profile_gioi_tinh.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                </div>
                <div style="padding-top: 30px;">
                    <md-input-container style="width: 100%;">
                        <label>Đơn vị</label>
                        <md-select name="profile_don_vi" ng-model="register.credentials.profile.tham_chieu.don_vi" required ng-model-options="{trackBy: '$value.ma'}">
                            <md-option ng-repeat="donvi in register.donvisOptions" ng-value="donvi">{{donvi.ten}}</md-option>
                        </md-select>
                        <div ng-messages="register.registerForm.profile_don_vi.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                </div>
                <div style="padding-top: 30px;"></div>
                <div ng-if="register.isRegistering" layout="row" layout-align="center">
                    <md-progress-circular  class="md-accent" md-diameter="40"></md-progress-circular>
                </div>
                <div ng-hide="register.isRegistering" layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="register.register()" aria-label="login"ng-disabled="register.registerForm.$invalid">
                        Đăng ký
                    </md-button>
                </div>
            </form>

            <md-divider></md-divider>
            <div layout="row" layout-align="center">
                <a class="md-button" href="/login">Đã có tài khoản?</a>
            </div>

        </div>
    </md-whiteframe>
</md-content>