<md-fab-speed-dial id="test" md-open="tbisListFabMenu.isOpen" md-direction="up" ng-class="'md-scale'" ng-click="tbisListFabMenu.isOpen = !tbisListFabMenu.isOpen">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <ng-md-icon icon="{{tbisListFabMenu.clickIcon}}" style="fill: white" size="24" options='{"duration": 375, "rotation": "none"}'></ng-md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <tbis-list-add-new-mini-fab></tbis-list-add-new-mini-fab>
        <tbis-list-filter-panel-mini-fab></tbis-list-filter-panel-mini-fab>
        <md-button aria-label="Cuộn lên" class="md-fab md-raised md-mini" ng-click="tbisListFabMenu.goUp()">
            <md-tooltip md-direction="left" md-delay="800">Cuộn lên</md-tooltip>
            <md-icon md-svg-src="/img/icons/common/keyboard_arrow_up.svg" style="color: #757575;" aria-label="Cuộn lên"></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>