<md-list flex>
    <md-subheader class="md-no-sticky">Danh sách các trường dữ liệu được hiển thị</md-subheader>
    <md-list-item ng-repeat="column in tbisListKendoGridSettingsModalHienThiTab.availableColumns" ng-click="tbisListKendoGridSettingsModalHienThiTab.toggleColumnVisibility(column)">
        <md-checkbox ng-model="column.isVisible"></md-checkbox>
        <p>{{column.title}}</p>
    </md-list-item>
</md-list>
<div style="color: transparent;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>