@import "../demo/partiesList/partiesList.less";
@import "../demo/partyDetails/partyDetails.less";
@import "../thietbis/tbisList/tbisList.less";
@import "../thietbis/tbisDetailsView/tbisDetailsView.less";
@import "../thietbis/tbisDetailsUpdate/tbisDetailsUpdate.less";

pandora {
  display: block;
}

.sky {

  &-margin-top-64 {
    margin-top: 64px;
  }
  &-margin-top-56 {
    margin-top: 56px;
  }
  &-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    z-index: 1;
  }
}