@import "../demo/partiesList/partiesList.less";
@import "../demo/partyDetails/partyDetails.less";
@import "../thietbis/tbisList/tbisList.less";
@import "../thietbis/tbisDetailsView/tbisDetailsView.less";
@import "../users/usersList/usersList.less";
@import "../users/userDetails/userDetails.less";

pandora {
  display: block;
}

.no-margin {
  margin: 0 !important;
}
// Fix lỗi bị trôi mdDialog khi scroll
body.md-dialog-is-showing {
  overflow: visible !important;
}

.sky {
  &-reset-border-radius {
    border-radius: initial!important;
  }
  &-user-status {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    &-container {
      position: relative;
    }
    &-success {
      background: #7cb342;
    }
    &-danger {
      background: #e53935;
    }
    &-warning {
      background: #ffa000;
    }
  }
  &-hidden {
    display: none;
  }
  &-action-hover {
    &:hover {
      cursor: pointer;
    }
  }
  &-text-bind-html {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.54);
    letter-spacing: .010em;
    line-height: 1.6em;
  }

  &-margin-top-64 {
    margin-top: 64px;
  }
  &-margin-top-56 {
    margin-top: 56px;
  }
  &-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    z-index: 2;
  }
}

@import "./pandora-kendo-restyle.less";