.gray {
  background-color: #f5f5f5 !important;
}
.mediumGray {
  background-color: rgb(189,189,189) !important;
}
.green {
  background-color: #b9f6ca !important;
}
.yellow {
  background-color: #ffff8d !important;
}
.blue {
  background-color: #84ffff !important;
}
.darkBlue {
  background-color: #80d8ff !important;
}
.deepBlue {
  background-color: #448aff !important;
}
.purple {
  background-color: #b388ff !important;
}
.red {
  background-color: #ff8a80 !important;
}
.pink {
  background-color: #ff80ab !important;
}
.lightPurple {
  background-color: #8c9eff !important;
}