.k-button {
  font-weight: 400;
}
.k-header {
  font-weight: 400;
}

.k-multiselect{
  .k-button {
    background: rgb(224,224,224);
  }
  &.k-state-focused, &.k-state-hover {
    background-color: transparent!important;
  }

  &-wrap {
    background-color: transparent;
  }
  &.k-header {
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: rgba(0,0,0,0.12);
  }
}