<md-dialog id="tbis-details-add-new-history-modal" aria-label="Cập nhật thông tin người dùng">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cập nhật thông tin người dùng</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="userDetailsViewQuanLyTabUpdateThongTinModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <user-details-view-quan-ly-tab-user-label></user-details-view-quan-ly-tab-user-label>
        <md-list flex style="padding-top: 0;">
            <md-subheader class="md-no-sticky" style="margin-bottom: 48px;">Vui lòng cập nhật các thông tin hồ sơ người dùng được chọn theo mẫu phiếu dưới đây. Lưu ý bạn cần xác nhận mã PIN của người quản trị.</md-subheader>
            <md-list-item class="md-2-line" flex layout="column" layout-fill>
                <div layout="row" style="width: 100%">
                    <md-input-container class="md-block" style="width: 100%">
                        <label>Tên hiển thị</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.name">
                    </md-input-container>
                </div>
                <div layout="row" flex="100" style="width: 100%">
                    <md-input-container class="md-block" flex="50">
                        <label>Mã biên chế</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.bien_che.ma">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Chức danh</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.bien_che.chuc_danh">
                    </md-input-container>
                </div>
                <div layout="row" flex="100" style="width: 100%">
                    <md-input-container class="md-block" flex="50">
                        <label>Công ty</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.bien_che.cong_ty">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Đơn vị</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.bien_che.don_vi">
                    </md-input-container>
                </div>
                <div layout="row" flex="100" style="width: 100%">
                    <md-input-container class="md-block" flex="50">
                        <label>Ban</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.bien_che.ban">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Tổ</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.bien_che.to">
                    </md-input-container>
                </div>
                <div layout="row" flex="100" style="width: 100%">
                    <md-input-container class="md-block" flex="50">
                        <label>Đội</label>
                        <input ng-model="userDetailsViewQuanLyTabUpdateThongTinModal.selectedUser.profile.bien_che.doi">
                    </md-input-container>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="userDetailsViewQuanLyTabUpdateThongTinModal.close()" aria-label="Close">Hủy bỏ</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="userDetailsViewQuanLyTabUpdateThongTinModal.update()" aria-label="Cập nhật">Cập nhật</md-button>
    </md-dialog-actions>
</md-dialog>