<div class="md-list-item-text" id="comment-{{tbisDetailsViewReportViewCommentItem.comment._id}}">
    <h3>{{tbisDetailsViewReportViewCommentItem.comment.metadata.user.nguoi_tao | displayNameFilter}} · DVKT</h3>
    <h4 style="margin-bottom: 10px">{{ tbisDetailsViewReportViewCommentItem.comment.metadata.thoi_gian.tao_moi.ngay_tao_date | displayRelativeTimeFilter }}
        <span ng-if="tbisDetailsViewReportViewCommentItem.isEditable && tbisDetailsViewReportViewCommentItem.currentUserId===tbisDetailsViewReportViewCommentItem.comment.metadata.user.nguoi_tao.keyId ">
                <a  ng-hide="tbisDetailsViewReportViewCommentItem.isEditMode" class="sky-action-hover" ng-click="tbisDetailsViewReportViewCommentItem.setEditMode()"> · sửa</a>
                <a  ng-show="tbisDetailsViewReportViewCommentItem.isEditMode" class="sky-action-hover" ng-click="tbisDetailsViewReportViewCommentItem.cancelUpdate()"> · hủy bỏ</a>
                <a  ng-show="tbisDetailsViewReportViewCommentItem.isEditMode" class="sky-action-hover" ng-click="tbisDetailsViewReportViewCommentItem.updateSelectedComment()"> · cập nhật</a>
            </span></h4>
    <div ng-hide="tbisDetailsViewReportViewCommentItem.isEditMode" class="sky-text-bind-html" ng-bind-html="tbisDetailsViewReportViewCommentItem.comment.noi_dung.html"></div>
    <tbis-details-view-kendo-editor ng-if="tbisDetailsViewReportViewCommentItem.isEditMode" view-model="tbisDetailsViewReportViewCommentItem.newNoiDung"></tbis-details-view-kendo-editor>
</div>