<div layout="row">
    <md-button ui-sref="login" ng-hide="auth.isLoggedIn">Đăng nhập</md-button>
    <md-button ui-sref="register" ng-hide="auth.isLoggedIn">Đăng ký</md-button>
    <!--<md-button ng-click="auth.logout()" ng-show="auth.isLoggedIn">Đăng xuất</md-button>-->

    <md-menu md-position-mode="target-right target" ng-if="auth.isLoggedIn">
        <md-button ng-show="auth.isLoggedIn" ng-click="$mdOpenMenu($event)" aria-label="User Name">{{ auth.currentUser | displayNameFilter }}</md-button>
        <md-menu-content width="4" >
            <md-menu-item>
                <md-button ui-sref="workspacesList">
                    <div layout="row" flex style="padding-top: 7px;">
                        <p flex>Bàn làm việc</p>
                        <md-icon md-svg-icon="img/icons/common/devices.svg" style="margin: auto 3px auto 0;"></md-icon>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="usersdetails({userId: auth.currentUser._id})">
                    <div layout="row" flex style="padding-top: 7px;">
                        <p flex>Hồ sơ</p>
                        <md-icon md-svg-icon="img/icons/common/person.svg" style="margin: auto 3px auto 0;"></md-icon>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="auth.logout()">
                    <div layout="row" flex>
                        <p flex>Đăng xuất</p>
                        <md-icon md-svg-icon="img/icons/common/exit_to_app.svg" style="margin: auto 3px auto 0;"></md-icon>
                    </div>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <a ng-click="auth.utilsSideBarOptions.isOpen = !auth.utilsSideBarOptions.isOpen">
        <img ng-if="auth.isLoggedIn" user-avatar
             img-src="{{auth.currentUser.profile.avatar.isGAvatar ? auth.currentUser.profile.avatar.gAvatarUrl : auth.currentUser.profile.avatar.url}}"
             class="sky-avatar sky-action-hover" alt="myAvatar"
        />
    </a>

</div>