<md-dialog id="tbis-list-filter-panel-modal" aria-label="Giới hạn dữ liệu">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Giới hạn dữ liệu</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="tbisListFilterPanelModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Ràng buộc" md-on-select="tbisListFilterPanelModal.tabSelected='rang_buoc'">
                <md-content>
                    <tbis-list-filter-panel-modal-tong-quan-tab
                            filter-options-db="tbisListFilterPanelModal.utilsFilterOptionsDB"
                            filter-panel-options="tbisListFilterPanelModal.utilsFilterOptions.utilsFilter">
                    </tbis-list-filter-panel-modal-tong-quan-tab>
                </md-content>
            </md-tab>
            <md-tab label="Thiết lập" md-on-select="tbisListFilterPanelModal.tabSelected='thong_so'">
                <md-content>
                    <tbis-list-filter-panel-modal-thiet-lap-tab
                            filter-options-db="tbisListFilterPanelModal.utilsFilterOptionsDB"
                            filter-panel-options="tbisListFilterPanelModal.utilsFilterOptions.utilsFilter"></tbis-list-filter-panel-modal-thiet-lap-tab>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-if="tbisListFilterPanelModal.tabSelected==='tong_quan'">
        <md-button ng-click="tbisListFilterPanelModal.reset()" aria-label="Reset">Reset</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="tbisListFilterPanelModal.close()" aria-label="Đóng & Tiếp tục">Đóng & Tiếp tục</md-button>
    </md-dialog-actions>
</md-dialog>