<md-dialog id="tbis-list-filter-panel-modal" aria-label="Giới hạn dữ liệu" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Giới hạn dữ liệu</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="tbisListFilterPanelModal.close()">
                <md-icon md-svg-src="img/icons/common/close.svg" aria-label="Đóng hộp thoại"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Tổng quan" md-on-select="tbisListFilterPanelModal.tabSelected='tong_quan'">
                <md-content>
                    <tbis-list-filter-panel-modal-tong-quan-tab></tbis-list-filter-panel-modal-tong-quan-tab>
                </md-content>
            </md-tab>
            <md-tab label="Thiết lập" md-on-select="tbisListFilterPanelModal.tabSelected='thong_so'">
                <md-content>
                    <tbis-details-update-thong-so-tab   tab-mode-selected="tbisListFilterPanelModal.tabModeSelected"
                                                        thietbi="tbisListFilterPanelModal.thietbi" view-model="tbisListFilterPanelModal.newThongSo"
                                                        thongsokythuats="tbisListFilterPanelModal.thongsokythuats"
                                                        toggle-remove-thong-so-ky-thuat="tbisListFilterPanelModal.toggleRemoveThongSoKyThuat(thongsokythuat)"
                    ></tbis-details-update-thong-so-tab>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-if="tbisListFilterPanelModal.tabSelected==='tong_quan'">
        <md-button ng-click="tbisListFilterPanelModal.reset()" aria-label="Reset">Reset</md-button>
        <span flex></span>
        <md-button style="margin-right:20px;" ng-click="tbisListFilterPanelModal.save()" aria-label="Đóng & Tiếp tục">Đóng & Tiếp tục</md-button>
    </md-dialog-actions>
</md-dialog>