<form name="tbisListMajorInputForm.addNewThietBiForm">
    <md-list>

        <!--Section: Mã thiết bị-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Mã thiết bị</md-subheader>
        <md-list-item layout="row" layout-fill>
            <md-input-container class="md-block" flex="33">
                <label>Mã quản lý</label>
                <input ng-model="tbisListMajorInputForm.vm.ma_thiet_bi.keyId" required name="ma_tb"
                       ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ma_thiet_bi">
                <div ng-messages="tbisListMajorInputForm.addNewThietBiForm.ma_tb.$error">
                    <div ng-message="required">Thông tin bắt buộc.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="33">
                <label>Mã TopX</label>
                <input ng-model="tbisListMajorInputForm.vm.ma_thiet_bi.topX"
                       ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ma_thiet_bi" name="ma_topX">
            </md-input-container>
            <md-input-container class="md-block" flex="33">
                <label>Mã Maximo</label>
                <input ng-model="tbisListMajorInputForm.vm.ma_thiet_bi.maximo"
                       ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ma_thiet_bi" name="ma_maximo">
            </md-input-container>
        </md-list-item>

        <!--Section: Phân loại-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Phân loại</md-subheader>
        <md-list-item>
            <div layout="column" layout-fill>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Nhóm</label>
                        <md-select name="phan_loai_nhom" ng-model="tbisListMajorInputForm.vm.phan_loai.nhom"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.phan_loai"
                                   ng-change="tbisListMajorInputForm.vm.phan_loai.chung_loai = '';tbisListMajorInputForm.vm.phan_loai.loai = '';"
                                   required>
                            <md-option ng-value="nhom" ng-repeat="nhom in tbisListMajorInputForm.selectOptions.nhoms">{{nhom}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="tbisListMajorInputForm.addNewThietBiForm.phan_loai_nhom.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Chủng loại</label>
                        <md-select name="phan_loai_chung_loai" ng-model="tbisListMajorInputForm.vm.phan_loai.chung_loai"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.phan_loai"
                                   ng-change="tbisListMajorInputForm.vm.phan_loai.loai = '';"
                                   required>
                            <md-option ng-value="chungloai" ng-repeat="chungloai in tbisListMajorInputForm.selectOptions.chungloais[tbisListMajorInputForm.vm.phan_loai.nhom]">{{chungloai}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="tbisListMajorInputForm.addNewThietBiForm.phan_loai_chung_loai.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" style="margin-bottom: 24px;">
                    <md-input-container class="md-block" flex="50">
                        <label>Loại</label>
                        <md-select name="phan_loai_loai"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.phan_loai"
                                   ng-model="tbisListMajorInputForm.vm.phan_loai.loai" required>
                            <md-option ng-value="loai" ng-repeat="loai in tbisListMajorInputForm.selectOptions.loais[tbisListMajorInputForm.vm.phan_loai.chung_loai]">{{loai}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="tbisListMajorInputForm.addNewThietBiForm.phan_loai_loai.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-list-item>
        <md-list-item ng-if="tbisListMajorInputForm.isPreserveSelect">
            <p>Giữ các lựa chọn này cho lần tạo mới tiếp theo</p>
            <md-checkbox class="md-secondary" ng-if="tbisListMajorInputForm.mode==='addNew'" ng-model="tbisListMajorInputForm.isPreserveSelect.phanLoai"></md-checkbox>
        </md-list-item>

        <!--Section: Nguồn gốc, xuất xứ-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Nguồn gốc, xuất xứ</md-subheader>
        <md-list-item>
            <div layout="column" layout-fill>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Hãng sản xuất</label>
                        <md-select name="nguon_goc_hang_san_xuat"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.nguon_goc"
                                   ng-model="tbisListMajorInputForm.vm.nguon_goc.hang_san_xuat"
                                   ng-change="tbisListMajorInputForm.vm.nguon_goc.model = '';" required>
                            <md-option ng-value="hangsanxuat" ng-repeat="hangsanxuat in tbisListMajorInputForm.selectOptions.hangsanxuats | orderBy">{{hangsanxuat}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="tbisListMajorInputForm.addNewThietBiForm.nguon_goc_hang_san_xuat.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Model thiết bị</label>
                        <md-select name="nguon_goc_model"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.nguon_goc"
                                   ng-model="tbisListMajorInputForm.vm.nguon_goc.model">
                            <md-option ng-value="model" ng-repeat="model in tbisListMajorInputForm.selectOptions.models[tbisListMajorInputForm.vm.nguon_goc.hang_san_xuat] | orderBy">{{model}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Nhà phân phối</label>
                        <md-select name="nguon_goc_vendor"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.nguon_goc"
                                   ng-model="tbisListMajorInputForm.vm.nguon_goc.vendor">
                            <md-option ng-value="vendor" ng-repeat="vendor in tbisListMajorInputForm.selectOptions.vendors | orderBy">{{vendor}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Nơi lắp ráp</label>
                        <md-select name="nguon_goc_noi_lap_rap"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.nguon_goc"
                                   ng-model="tbisListMajorInputForm.vm.nguon_goc.noi_lap_rap">
                            <md-option ng-value="quocgia" ng-repeat="quocgia in tbisListMajorInputForm.selectOptions.quocgias | orderBy">{{quocgia}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Năm sản xuất</label>
                        <input name="nguon_goc_nam_san_xuat"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.nguon_goc"
                               ng-model="tbisListMajorInputForm.vm.nguon_goc.nam_san_xuat" type="number" step="any" min="1900" max="2100">
                        <div ng-messages="tbisListMajorInputForm.addNewThietBiForm.nguon_goc_nam_san_xuat.$error">
                            <div ng-message="min">Năm sản xuất không ít hơn 1900.</div>
                            <div ng-message="max">Năm sản xuất không quá 2100.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-list-item>
        <md-list-item ng-if="tbisListMajorInputForm.isPreserveSelect">
            <p>Giữ các lựa chọn này cho lần tạo mới tiếp theo</p>
            <md-checkbox class="md-secondary" ng-if="tbisListMajorInputForm.mode==='addNew'" ng-model="tbisListMajorInputForm.isPreserveSelect.nguonGoc"></md-checkbox>
        </md-list-item>

        <!--Section: Địa điểm-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Địa điểm</md-subheader>
        <md-list-item>
            <div layout="column" layout-fill>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Khu vực</label>
                        <md-select name="dia_diem_khu_vuc"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.dia_diem"
                                   ng-model="tbisListMajorInputForm.vm.dia_diem.khu_vuc" ng-model-options="{trackBy: '$value.ten'}">
                            <md-option ng-value="khuvuc" ng-repeat="khuvuc in tbisListMajorInputForm.selectOptions.khuvucs">{{khuvuc.ten}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="tbisListMajorInputForm.addNewThietBiForm.phan_quyen_quan_ly.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Terminal</label>
                        <md-select name="dia_diem_terminal"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.dia_diem"
                                   ng-model="tbisListMajorInputForm.vm.dia_diem.terminal">
                            <md-option value="TER A">TER A</md-option>
                            <md-option value="TER B">TER B</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Line</label>
                        <input ng-model="tbisListMajorInputForm.vm.dia_diem.line"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.dia_diem"
                               name="dia_diem_line">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Cầu cảng</label>
                        <input ng-model="tbisListMajorInputForm.vm.dia_diem.cau_cang"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.dia_diem"
                               name="dia_diem_cau_cang">
                    </md-input-container>
                </div>
            </div>
        </md-list-item>
        <md-list-item ng-if="tbisListMajorInputForm.isPreserveSelect">
            <p>Giữ các lựa chọn này cho lần tạo mới tiếp theo</p>
            <md-checkbox class="md-secondary" ng-if="tbisListMajorInputForm.mode==='addNew'" ng-model="tbisListMajorInputForm.isPreserveSelect.diaDiem"></md-checkbox>
        </md-list-item>

        <!--Section: Phân quyền-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Phân quyền</md-subheader>
        <md-list-item>
            <div layout="column" layout-fill>
                <div layout="row">

                    <md-input-container class="md-block" flex="50">
                        <label>Sở hữu</label>
                        <md-select name="phan_quyen_so_huu"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.phan_quyen"
                                   ng-model="tbisListMajorInputForm.vm.phan_quyen.so_huu" ng-model-options="{trackBy: '$value.ten'}">
                            <md-option ng-value="dvsohuu" ng-repeat="dvsohuu in tbisListMajorInputForm.selectOptions.donvis | orderBy:'ten'" ng-bind="dvsohuu.ten"></md-option>
                        </md-select>
                        <div class="errors" ng-messages="tbisListMajorInputForm.addNewThietBiForm.phan_quyen_so_huu.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Quản lý</label>
                        <md-select name="phan_quyen_quan_ly"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.phan_quyen"
                                   ng-model="tbisListMajorInputForm.vm.phan_quyen.quan_ly" ng-model-options="{trackBy: '$value.ten'}">
                            <md-option ng-value="dvquanly" ng-repeat="dvquanly in tbisListMajorInputForm.selectOptions.donvis | orderBy:'ten'" ng-bind="dvquanly.ten"></md-option>
                        </md-select>
                        <div class="errors" ng-messages="tbisListMajorInputForm.addNewThietBiForm.phan_quyen_quan_ly.$error">
                            <div ng-message="required">Thông tin bắt buộc.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" style="margin-bottom: 30px;">
                    <md-input-container class="md-block" flex="50">
                        <label>Vận hành</label>
                        <md-select name="phan_quyen_van_hanh"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.phan_quyen"
                                   ng-model="tbisListMajorInputForm.vm.phan_quyen.van_hanh" ng-model-options="{trackBy: '$value.ten'}"
                                   ng-change="tbisListMajorInputForm.vm.phan_quyen.doi_van_hanh = {};">
                            <md-option ng-value="doivanhanh" ng-repeat="doivanhanh in tbisListMajorInputForm.selectOptions.donvis | orderBy:'ten'">{{doivanhanh.ten}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Đội vận hành</label>
                        <md-select name="phan_quyen_doi_van_hanh"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.phan_quyen"
                                   ng-model="tbisListMajorInputForm.vm.phan_quyen.doi_van_hanh" ng-model-options="{trackBy: '$value.ten'}">
                            <md-option ng-value="doivanhanh" ng-repeat="doivanhanh in tbisListMajorInputForm.selectOptions.doivanhanhs[tbisListMajorInputForm.vm.phan_quyen.van_hanh.ma] | orderBy:'ten'">{{doivanhanh.ten}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-list-item>
        <md-list-item ng-if="tbisListMajorInputForm.isPreserveSelect">
            <p>Giữ các lựa chọn này cho lần tạo mới tiếp theo</p>
            <md-checkbox class="md-secondary" ng-if="tbisListMajorInputForm.mode==='addNew'" ng-model="tbisListMajorInputForm.isPreserveSelect.phanQuyen"></md-checkbox>
        </md-list-item>

        <!--Section: Hồ sơ-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Hồ sơ thiết bị</md-subheader>
        <md-list-item>
            <div layout="column" layout-fill>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Năm sử dụng</label>
                        <input name="ho_so_nam_su_dung"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                               ng-model="tbisListMajorInputForm.vm.ho_so.nam_su_dung" type="number" step="1" min="1900" max="2100">
                        <div ng-messages="tbisListMajorInputForm.addNewThietBiForm.ho_so_nam_su_dung.$error">
                            <div ng-message="min">Năm sản xuất không ít hơn 1900.</div>
                            <div ng-message="max">Năm sản xuất không quá 2100.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Số đăng ký</label>
                        <input name="ho_so_so_dang_ky"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                               ng-model="tbisListMajorInputForm.vm.ho_so.so_dang_ky">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Số khung</label>
                        <input name="ho_so_so_khung"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                               ng-model="tbisListMajorInputForm.vm.ho_so.so_khung">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Số máy</label>
                        <input name="ho_so_so_may"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                               ng-model="tbisListMajorInputForm.vm.ho_so.so_may">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Biển số</label>
                        <input name="ho_so_bien_so"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                               ng-model="tbisListMajorInputForm.vm.ho_so.bien_so">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Số giấy đăng kiểm</label>
                        <input name="ho_so_so_dang_kiem"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                               ng-model="tbisListMajorInputForm.vm.ho_so.so_dang_kiem">
                    </md-input-container>
                </div>
                <div layout="row" style="margin-bottom: 24px;">
                    <md-input-container class="md-block" flex="50">
                        <label>Xuất xứ</label>
                        <md-select name="ho_so_xuat_xu"
                                   ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                                   ng-model="tbisListMajorInputForm.vm.ho_so.xuat_xu">
                            <md-option ng-value="quocgia" ng-repeat="quocgia in tbisListMajorInputForm.selectOptions.quocgias | orderBy">{{quocgia}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Cấp chất lượng</label>
                        <input name="ho_so_cap_chat_luong"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                               ng-model="tbisListMajorInputForm.vm.ho_so.cap_chat_luong" type="number" step="1" min="1" max="5">
                        <div ng-messages="tbisListMajorInputForm.addNewThietBiForm.ho_so_cap_chat_luong.$error">
                            <div ng-message="min">Cấp chất lượng không ít hơn 1.</div>
                            <div ng-message="max">Cấp chất lượng không vượt quá 5.</div>
                        </div>
                    </md-input-container>
                </div>

            </div>
        </md-list-item>

        <!--Section: Bảo hành-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Thông tin bảo hành</md-subheader>
        <md-list-item>
            <p>Có thông tin bảo hành</p>
            <md-checkbox class="md-secondary"
                         ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.bao_hanh"
                         ng-model="tbisListMajorInputForm.vm.bao_hanh.isThongTinBaoHanh"></md-checkbox>
        </md-list-item>

        <md-list-item ng-show="tbisListMajorInputForm.vm.bao_hanh.isThongTinBaoHanh" layout="row" class="sky-fix-kendo-date-picker" flex>
            <md-input-container flex="50">
                <label>Ngày bắt đầu</label>
                <input kendo-date-picker k-format="'dd/MM/yyyy'"
                       k-ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.bao_hanh"
                       style="width: 100%;" k-ng-model="tbisListMajorInputForm.vm.bao_hanh.thoi_gian.ngay_bat_dau" type="date"/>
            </md-input-container>
            <md-input-container flex="50">
                <label>Ngày kết thúc</label>
                <input kendo-date-picker k-format="'dd/MM/yyyy'"
                       k-ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.bao_hanh"
                       style="width: 100%;" k-ng-model="tbisListMajorInputForm.vm.bao_hanh.thoi_gian.ngay_ket_thuc" type="date"/>
            </md-input-container>
        </md-list-item>

        <!--Section: Kiểm định-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Thông tin kiểm định</md-subheader>
        <md-list-item>
            <p>Có thông tin kiểm định</p>
            <md-checkbox class="md-secondary"
                         ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.kiem_dinh"
                         ng-model="tbisListMajorInputForm.vm.kiem_dinh.isThongTinKiemDinh"></md-checkbox>
        </md-list-item>

        <md-list-item ng-show="tbisListMajorInputForm.vm.kiem_dinh.isThongTinKiemDinh" layout="row" class="sky-fix-kendo-date-picker" flex>
            <md-input-container class="md-block" flex="50">
                <label>Số phiếu kiểm định</label>
                <input ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.kiem_dinh"
                       ng-model="tbisListMajorInputForm.vm.kiem_dinh.ho_so.so_phieu_kiem_dinh" name="kiem_dinh_phieu_kiem_dinh">
            </md-input-container>
            <md-input-container class="md-block" flex="50">
                <label>Số tem kiểm định</label>
                <input ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.kiem_dinh"
                       ng-model="tbisListMajorInputForm.vm.kiem_dinh.ho_so.so_tem_kiem_dinh" name="kiem_dinh_tem_kiem_dinh">
            </md-input-container>
        </md-list-item>

        <md-list-item ng-show="tbisListMajorInputForm.vm.kiem_dinh.isThongTinKiemDinh" layout="row" class="sky-fix-kendo-date-picker" flex>
            <md-input-container flex="50">
                <label>Ngày hiệu lực</label>
                <input kendo-date-picker
                       k-ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.kiem_dinh"
                       k-format="'dd/MM/yyyy'" style="width: 100%;" k-ng-model="tbisListMajorInputForm.vm.kiem_dinh.thoi_gian.ngay_hieu_luc" type="date"/>
            </md-input-container>
            <md-input-container flex="50">
                <label>Ngày hết hạn</label>
                <input kendo-date-picker k-format="'dd/MM/yyyy'"
                       k-ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.kiem_dinh"
                       style="width: 100%;" k-ng-model="tbisListMajorInputForm.vm.kiem_dinh.thoi_gian.ngay_het_han" type="date"/>
            </md-input-container>
        </md-list-item>

        <!--Section: Thiết bị đi kèm-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Thiết bị đi kèm</md-subheader>
        <md-list-item>
            <p>Có thiết bị đi kèm</p>
            <md-checkbox class="md-secondary"
                         ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                         ng-model="tbisListMajorInputForm.vm.ho_so.thiet_bi_di_kem.isThietBiDiKem"></md-checkbox>
        </md-list-item>
        <md-list-item ng-show="tbisListMajorInputForm.vm.ho_so.thiet_bi_di_kem.isThietBiDiKem">
            <div layout="column" layout-fill>
                <div layout="row" flex style="margin-top: 40px; margin-bottom: 40px;">
                    <md-chips flex
                            ng-model="tbisListMajorInputForm.vm.ho_so.thiet_bi_di_kem.danh_sach"
                            ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ho_so"
                            placeholder="Nhập các mã TB đi kèm"
                            secondary-placeholder="+Mã thiết bị"
                    ></md-chips>
                </div>
            </div>
        </md-list-item>

        <!--Section: Khác-->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Các mục bổ sung</md-subheader>
        <md-list-item>
            <div layout="column" layout-fill>
                <!--<div layout="row" style="margin-top: 40px; margin-bottom: 40px;">-->
                    <!--<select kendo-multi-select-->
                            <!--k-data-source="tbisListMajorInputForm.selectOptions.tags[tbisListMajorInputForm.vm.phan_loai.nhom]"-->
                            <!--k-ng-model="tbisListMajorInputForm.vm.tags"-->
                            <!--style="width: 100%;"-->
                            <!--k-placeholder="'Gắn thẻ...'"></select>-->
                <!--</div>-->
                <div layout="row" flex="100" ng-if="tbisListMajorInputForm.selectOptions.tags[tbisListMajorInputForm.vm.phan_loai.nhom]" style="margin-top: 40px; margin-bottom: 40px;">
                    <md-chips flex="100"
                            ng-model="tbisListMajorInputForm.vm.tags"
                            ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.tags"
                            md-autocomplete-snap
                            md-require-match="true">
                        <md-autocomplete
                                md-selected-item="tbisListMajorInputForm.liveOptions.mdChips.selectedItem"
                                md-search-text="tbisListMajorInputForm.liveOptions.mdChips.searchText"
                                md-items="item in tbisListMajorInputForm.selectOptions.tags[tbisListMajorInputForm.vm.phan_loai.nhom]"
                                md-item-text="item"
                                placeholder="Gắn thẻ cho thiết bị +">
                            <span md-highlight-text="tbisListMajorInputForm.liveOptions.mdChips.searchText">{{item}}</span>
                        </md-autocomplete>
                    </md-chips>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                        <label>Mô tả</label>
                        <input name="mo_ta"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.mo_ta"
                               ng-model="tbisListMajorInputForm.vm.mo_ta">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                        <label>Ghi chú</label>
                        <input name="ghi_chu"
                               ng-disabled="tbisListMajorInputForm.mode==='update' && tbisListMajorInputForm.liveOptions.isDisabled.ghi_chu"
                               ng-model="tbisListMajorInputForm.vm.ghi_chu">
                    </md-input-container>
                </div>
            </div>
        </md-list-item>
    </md-list>
</form>

<!--<pre>{{tbisListMajorInputForm.liveOptions.isDisabled | json}}</pre>-->