<div class="sky-margin-top-{{tbisDetailsViewReportView.$mdMedia('gt-sm') ? '64' : '56'}}"></div>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="13 đang mở" md-on-select="tbisDetailsViewReportView.tabSelected='open'">
        <md-content>
            <tbis-details-view-report-view-open-tab></tbis-details-view-report-view-open-tab>
        </md-content>
    </md-tab>
    <md-tab label="64 đã đóng" md-on-select="tbisDetailsViewReportView.tabSelected='close'">
        <md-content>
            <tbis-details-view-report-view-closed-tab></tbis-details-view-report-view-closed-tab>
        </md-content>
    </md-tab>
</md-tabs>
<tbis-details-view-report-view-fab-menu></tbis-details-view-report-view-fab-menu>
