<div class="sky-margin-top-{{tbisDetailsViewReportView.$mdMedia('gt-sm') ? '64' : '56'}}"></div>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="13 đang mở" md-on-select="tbisDetailsViewReportView.subscribeOptions.status='open'">
        <md-content>
            <tbis-details-view-report-view-tab ng-if="tbisDetailsViewReportView.subscribeOptions.status==='open'" mode="open" is-ma-thiet-bi="false" module="tbisdetails"></tbis-details-view-report-view-tab>
        </md-content>
    </md-tab>
    <md-tab label="13 đang đóng" md-on-select="tbisDetailsViewReportView.subscribeOptions.status='closed'">
        <md-content>
            <tbis-details-view-report-view-tab ng-if="tbisDetailsViewReportView.subscribeOptions.status==='closed'" mode="closed" is-ma-thiet-bi="false" module="tbisdetails"></tbis-details-view-report-view-tab>
        </md-content>
    </md-tab>
</md-tabs>
<tbis-details-view-report-view-fab-menu></tbis-details-view-report-view-fab-menu>
<pre>
    {{tbisDetailsViewReportView.subscribeOptions|json}}
</pre>
