<md-list flex>
    <md-subheader class="md-no-sticky">Bạn có thể thay đổi các thiết lập cá nhân tại đây. Các thông tin bao gồm: hình đại diện, địa chỉ liên lạc và thay đổi mật khẩu.</md-subheader>
    <user-details-view-thiet-lap-tab-update-avatar-btn></user-details-view-thiet-lap-tab-update-avatar-btn>
    <user-details-view-thiet-lap-tab-update-contact-btn></user-details-view-thiet-lap-tab-update-contact-btn>
    <user-details-view-thiet-lap-tab-change-password-btn></user-details-view-thiet-lap-tab-change-password-btn>
</md-list>
