<md-content layout="column">
    <tbis-utils-bar></tbis-utils-bar>
    <div>
        <tbis-display-list-view ng-if="tbisList.componentOptions.viewMode==='list'"></tbis-display-list-view>
        <tbis-display-grid-view ng-if="tbisList.componentOptions.viewMode==='grid'"></tbis-display-grid-view>
        <div layout="column" layout-padding>
            <div layout="column">
            <pre>
                {{tbisList.componentOptions |json}}
            </pre>
                <pre>
                {{tbisList.filterPanelOptions |json}}
            </pre>
            </div>
        </div>
    </div>
</md-content>
<tbis-list-fab-menu></tbis-list-fab-menu>
<a ui-sref="tbisreports">tbisreports</a>


