<md-list flex style="padding-top:0;">
    <md-subheader class="md-no-sticky">
        <md-icon style="float: left;color: rgba(0, 0, 0, 0.54);" md-svg-src="/img/icons/common/error_outline.svg" class="no-margin" aria-label="Tạo mới"></md-icon>
        <div style="margin-left: 56px;">
            {{tbisDetailsViewReportViewOpenTabDetails.tbisReport.tieu_de}} · {{tbisDetailsViewReportViewOpenTabDetails.tbisReport.comments.length}} phản hồi
        </div>
    </md-subheader>
    <md-divider></md-divider>
    <tbis-details-view-report-view-main-report-display
            is-editable="true"
            noi-dung="{{tbisDetailsViewReportViewOpenTabDetails.tbisReport.noi_dung.html}}"
            metadata="tbisDetailsViewReportViewOpenTabDetails.tbisReport.metadata">
    </tbis-details-view-report-view-main-report-display>
    <md-divider></md-divider>
    <tbis-details-view-report-view-comment-action-item ng-repeat="item in tbisDetailsViewReportViewOpenTabDetails.mixedCommentsAndActions" view-model="item">
    </tbis-details-view-report-view-comment-action-item>
    <div style="margin-top: 50px;"></div>
    <md-list-item class="md-3-line md-long-text">
        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text">
            <div ng-if="tbisDetailsViewReportViewOpenTabDetails.isActiveEditor">
                <textarea kendo-editor k-options="tbisDetailsViewReportViewOpenTabDetails.kendoEditorOptions" k-ng-model="tbisDetailsViewReportViewOpenTabDetails.newComment.noi_dung.html"></textarea>
            </div>
        </div>
    </md-list-item>
</md-list>